///////////////////////////////////////////////
// FOOTER MAIN PART
.footer {
  width: 100%;
  // height: 100vh;
  background-color: var(--background-color-dark);
  padding: 120px 250px 40px 250px;
  position: relative;
  overflow: hidden;
  border-bottom: 5px solid var(--pink-color);
  @include media("<=1620px") {
    padding: 110px 230px 45px 230px;
  }
  @include media("<=1520px") {
    padding: 100 200px 40px 200px;
  }
  @include media("<=desktop") {
    padding: 100px 180px 40px 180px;
  }
  @include media("<=1260px") {
    padding: 90px 145px 90px 145px;
    // height: 80vh;
  }
  @include media("<=semiDesktop") {
    padding: 85px 110px 30px 110px;
  }
  @include media("<=phone") {
    padding: 50px 30px;
    height: fit-content;
  }

  &__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .sitemap {
      width: 20%;
      @include media("<=phone") {
        width: 100%;
        margin-bottom: 40px;
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        display: block;
        font-size: 1.6rem;
        font-weight: 500;
        line-height: 1.6rem;
        margin-bottom: 20px;
        color: var(--text-color-white);
        transition: 0.4s;

        &:hover{
          color: var(--pink-color);
        }
        @include media("<=desktop") {
          font-size: 1.4rem;
          line-height: 2.4rem;
        }
        @include media("<=1200px") {
          font-size: 1.1rem;
          line-height: 2.2rem;
        }
        @include media("<=phone") {
          font-size: 17px;
          line-height: 28px;
        }
      }
      a.active {
        text-decoration: underline;
      }
    }
    .infos {
      width: 40%;
      // height: 60vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      @include media("<=desktop") {
        // height: 50vh;
      }
      @include media("<=1200px") {
        // height: 40vh;
      }
      @include media("<=phone") {
        width: 100%;
        height: fit-content;
        margin-bottom: 40px;
        display: block;
      }
      .info {
        @include media("<=phone") {
          margin-bottom: 15px;
        }
        h3 {
          color: var(--pink-color);
          text-transform: uppercase;
          font-weight: 500;
          font-size: 16px;
          @include media("<=desktop") {
            font-size: 15px;
          }
          @include media("<=phone") {
            font-size: 13px;
          }
        }
        p,
        a {
          color: var(--text-color-white);
          font-size: 1rem;
          // line-height: 2.8rem;
          font-weight: 300;
          @include media("<=desktop") {
            font-size: 1rem;
            // line-height: 2.4rem;
          }
          @include media("<=1200px") {
            font-size: 1rem;
            // line-height: 2.2rem;
          }
          @include media("<=phone") {
            font-size: 17px;
            // line-height: 28px;
          }
        }
        a {
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
    .social-links {
      width: 20%;
      height: fit-content;
      @include media("<=phone") {
        width: 100%;
        margin-bottom: 40px;
      }
      h3 {
        color: var(--pink-color);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        margin-bottom: 2rem;
        @include media("<=phone") {
          font-size: 13px;
        }
      }
      a {
        text-decoration: none;
        text-transform: uppercase;
        display: inline-flex;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.8rem;
        color: var(--text-color-white);
        @include media("<=desktop") {
          font-size: 1.4rem;
          line-height: 2.4rem;
        }
        @include media("<=1200px") {
          font-size: 1.1rem;
          line-height: 2.2rem;
        }
        @include media("<=phone") {
          font-size: 17px;
          line-height: 28px;
        }
        img {
          width: 2.3rem;
          margin-right: 20px;
          transition: 0.4s;
          @include media("<=desktop") {
            width: 1.6rem;
            margin-right: 10px;
          }
        }
        &:hover img {
          transform: scale(1.2);
        }
      }

      .gotoup {
        background: var(--pink-color);
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.4s;
        @include media("<=desktop") {
          width: 55px;
          height: 55px;
        }
        @include media("<=phone") {
          width: 35px;
          height: 35px;
          margin-top: 2rem;
        }
        img {
          width: 25px;
          transition: 0.4s;
          @include media("<=phone") {
            width: 15px;
          }
          @include media("<=desktop") {
            width: 20px;
          }
        }
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  &__secondary {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    @include media("<=desktop") {
      margin-top: 40px;
    }
    @include media("<=phone") {
      margin-top: 0;
      display: block;
    }
    .logo {
      width: 30%;
      @include media("<=phone") {
        width: 100%;
      }
      img {
        width: 150px;
        // margin-left: -40px;
        @include media("<=phone") {
          margin-left: -30px;
          margin-bottom: 10px;
        }
      }
    }
    .copyright {
      width: 50%;
      color: var(--text-color-white);
      font-size: 16px;
      // text-transform: uppercase;
      text-transform: none;
      @include media("<=phone") {
        width: 100%;
        font-size: 10px;
        margin-bottom: 50px;
      }
    }
  }
}
