.contact {
  margin-top: 75px;
  &__body {
    padding-left: 121px;
    padding-right: 121px;
    margin-bottom: 120px;
    @include media("<=tablet") {
      padding-left: 60px;
      padding-right: 60px;
    }
    @include media("<=phone") {
      padding-left: 30px;
      padding-right: 30px;
    }
    h3 {
      //styleName: 24px bold;
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 30px;
      margin-top: 60px;
    }
    h4 {
      font-size: 24px;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 10px;
      margin-top: 10px;
    }
    .interestIn {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include media("<=tablet") {
        width: 100%;
      }
      .ig {
        width: 33%;
        margin-bottom: 10px;
        @include media("<=desktop") {
          width: 45%;
        }
        @include media("<=tablet") {
          width: 100%;
        }
        @include media("<=semiDesktop") {
          width: 100%;
        }

        label {
          margin-left: 8px;
        }
      }
      .ig2 {
        margin-bottom: 10px;
        label {
          margin-left: 8px;
        }
      }
    }

    .contact-left {
      padding-left: 41px;
      @include media("<=semiDesktop") {
        padding-left: 0px;
      }
      @include media("<=tablet") {
        padding-left: 0px;
      }
      @include media("<=phone") {
        padding-left: 0px;
      }

      ul {
        list-style: none;
        margin-top: 10px;
        li {
          display: flex;
          align-items: center;
          margin-top: 17px;
          margin-bottom: 17px;
          font-size: 18px;
        }
      }
    }
    .contact-right {
      max-width: 100%;
      padding-right: 40px;
      @include media("<=tablet") {
        padding-right: 10px;
      }
      @include media("<=phone") {
        padding-right: 0px;
      }

      .form-layout {
        display: block;
        width: 100%;
        label {
          font-size: 18px;
          line-height: 24px;
        }
        .textInput {
          padding-left: 10px;
          margin-top: 6px;
          margin-bottom: 18px;
          height: 44px;
          width: 100%;
          left: 677px;
          top: 426px;
          border-radius: 6px;
          font-size: 18px;
          line-height: 24px;
        }
        textarea {
          padding-left: 10px;
          margin-top: 6px;
          margin-bottom: 18px;
          height: 159px;
          width: 100%;
          border-radius: 6px;
          font-size: 18px;
          line-height: 24px;
        }
        button {
          text-align: center;
          width: 100%;
          height: 44px;
          border-radius: 6px;
          font-size: 18px;
          line-height: 24px;
          background: none;
          color: white;
          border: 1.5px solid white;
        }
      }
    }
  }
  &__locationMap {
    margin-bottom: 200px;
    background-image: url("https://miro.medium.com/max/1600/1*e_Loq49BI4WmN7o9ItTADg.gif");
    // background-image: url('https://assets.materialup.com/uploads/d897134f-48d1-4302-b3fd-ea045f3d4151/preview.gif');

    background-position: center;
  }
}
