.home {
  margin-top: 75px;

  ///////////////////////////////////////////////////
  // HOME BANNER
  &__banner {
    width: 100%;
    height: 630px;
    background: linear-gradient(
        0deg,
        rgba(14, 4, 40, 0.4),
        rgba(14, 4, 40, 0.4)
      ),
      url("../../assets/banner-image.jpg") no-repeat center center / cover;
    position: relative;
    @include media("<=phone") {
      height: 40vh;
    }
    h1 {
      position: absolute;
      top: 50%;
      left: 65px;
      transform: translateY(-50%);
      font-size: 48px;
      line-height: 65px;
      div {
        font-weight: normal;
      }
      .bold {
        font-weight: bold;
      }
      @include media("<=phone") {
        left: 30px;
        font-size: 18px;
        line-height: 26px;
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME FEATURES
  &__features {
    width: 90%;
    height: 239px;
    margin-left: auto;
    box-shadow: -18px 19px 50px rgba(249, 249, 250, 0.03);
    border-radius: 0px 0px 0px 120.5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 120px;

    @include media("<=phone") {
      width: 100%;
      height: fit-content;
      padding: 40px 20px 20px;
      border-radius: 0;
      justify-content: start;
      align-items: flex-start;
      margin-bottom: 40px;
    }
    .feature {
      text-align: center;
      width: 16%;
      @include media("<=phone") {
        width: 30%;
        margin-bottom: 30px;
      }
      img {
        height: 50px;
        @include media("<=phone") {
          height: 30px;
        }
      }
      h3 {
        font-size: 26px;
        line-height: 32px;
        @include media("<=phone") {
          font-size: 12px;
          line-height: 18px;
        }
      }
      p {
        font-size: 18px;
        line-height: 24px;
        @include media("<=phone") {
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME PARTNERS
  &__partners {
    width: 100%;
    padding: 0 15px;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 55px;
    }
    .partners {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-around;
      img {
        width: 10%;
        @include media("<=phone") {
          width: 14%;
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME INDUSTTRIES
  &__industries {
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 55px;
    }
    .servefor {
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @include media("<=phone") {
        width: 90%;
      }

      .serve {
        text-align: center;
        width: 18%;
        margin-bottom: 50px;
        @include media("<=phone") {
          width: 20%;
          margin-bottom: 20px;
        }
        img {
          @include media("<=phone") {
            width: 45%;
          }
        }
        p {
          @include media("<=phone") {
            font-size: 10px;
          }
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME INSIGHTS
  &__insights {
    width: 100%;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 55px;
    }

    .insights {
      width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      @include media("<=phone") {
        width: 80%;
      }

      .insight {
        width: 21%;
        height: 300px;
        margin-bottom: 60px;
        background: #fff;
        border-radius: 10px;
        @include media("<=phone") {
          width: 47%;
          height: 170px;
          margin-bottom: 20px;
          border-radius: 5px;
        }
        .image {
          width: 100%;
          height: 149px;
          border-radius: 10px;
          overflow: hidden;
          @include media("<=phone") {
            height: 80px;
            border-radius: 5px;
          }
          img {
            width: 100%;
            border-radius: 10px;
            @include media("<=phone") {
              border-radius: 5px;
            }
          }
        }
        .text {
          padding: 25px 15px;
          text-align: center;
          @include media("<=phone") {
            padding: 10px 7px;
          }
          p {
            font-size: 16px;
            line-height: 24px;
            color: var(--text-color-black);
            @include media("<=phone") {
              font-size: 12px;
              line-height: 14px;
            }
          }
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME CLIENTS
  &__clients {
    width: 90%;
    margin: auto;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 55px;
    }

    .clients {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      div {
        width: 22%;
        margin-bottom: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media("<=phone") {
          margin-bottom: 20px;
        }
        img {
          width: 60%;
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME TESTOMONIALS
  &__testomonials {
    width: 90%;
    margin: auto;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 55px;
      width: 80%;
    }

    .testomonials {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .testomonial {
        width: 30%;
        min-height: 20vh;
        @include media("<=phone") {
          width: 100%;
          margin-bottom: 20px;
        }
        .text {
          background-color: #fff;
          height: 192px;
          color: var(--text-color-black);
          border-radius: 8px;
          padding: 20px 50px;
          display: flex;
          align-items: center;
          position: relative;
          @include media("<=phone") {
            padding: 20px 32px;
          }
          .content {
            text-align: center;
            h4 {
              margin-bottom: 16px;
              font-size: 24px;
              line-height: 24px;
              @include media("<=phone") {
                font-size: 18px;
                line-height: 18px;
              }
            }
            p {
              font-size: 14px;
            }
          }
          &::before {
            content: "";
            position: absolute;
            left: 50%;
            bottom: -20px;
            transform: translate(-50%);
            border: solid;
            border-color: #fff transparent;
            border-width: 20px 15px 0 15px;
          }
        }
        .client {
          margin-top: 24px;
          padding: 10px;
          text-align: center;
          img {
            width: 56px;
            height: 56px;
            border-radius: 50%;
            margin-bottom: 14px;
          }
          p {
            font-size: 14px;
          }
          p.name {
            font-weight: bold;
          }
        }
      }
      .testomonial .colorChange {
        background-color: var(--blue-color);
        color: #fff;
        &::before {
          border-color: var(--blue-color) transparent;
        }
      }
    }
  }

  ///////////////////////////////////////////////////
  // HOME COMMON HEADING
  .common-heading {
    text-align: center;
    margin-bottom: 72px;
    @include media("<=phone") {
      margin-bottom: 36px;
    }

    h2 {
      display: inline-block;
      position: relative;
      @include media("<=phone") {
        font-size: 17px;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: -120px;
        transform: translateY(-50%);
        height: 3px;
        width: 103px;
        background: var(--text-color-white);
        @include media("<=phone") {
          width: 40px;
          height: 1.5px;
          left: -45px;
        }
      }
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: -120px;
        transform: translateY(-50%);
        height: 3px;
        width: 103px;
        background: var(--text-color-white);
        @include media("<=phone") {
          width: 40px;
          height: 1.5px;
          right: -45px;
        }
      }
    }
    p {
      margin-top: 10px;
      @include media("<=phone") {
        font-size: 14px;
      }
    }
  }
}
