.services {
  //////////////////////////////////////////////////////////////////////////////
  /////////////////---------Our Services---------///////////////////////////
  &__ourservices {
    width: 100%;
    height: 110vh;
    padding: 250px;
    background: var(--background-color-dark);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    @include media("<=phone") {
      padding: 50px 30px;
    }

    .head {
      width: 40%;
      @include media("<=phone") {
        width: 100%;
      }
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 5rem;
        line-height: 5rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        color: var(--text-color-white);
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 2.8rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 1rem;
          }
          span {
            position: absolute;
          }
        }
      }
      p {
        color: var(--text-color-white);
        font-size: 17px;
        line-height: 30px;
        @include media("<=phone") {
          font-size: 14px;
          line-height: 25px;
        }
      }
      a {
        text-decoration: none;
        color: #e00ff0;
        font-weight: 500;
        font-size: 18px;
      }
    }
    img {
      position: absolute;
      width: 35%;
      top: 150px;
      right: 200px;
      text-align: left;
      @include media("<=phone") {
        width: 75%;
        top: 50%;
        right: 15%;
      }
    }

    .circle {
      width: 250px;
      height: 250px;
      background: var(--pink-color);
      border-radius: 50%;
      position: absolute;
      top: -100px;
      @include media("<=phone") {
        width: 120px;
        height: 120px;
        top: -60px;
        right: 50px;
      }
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  //////////////////////-------Web Development---------///////////////////////////

  &__webdevelopment {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 140px;
    background: var(--background-color-light);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include media("<=phone") {
      padding: 50px 30px;
    }

    h2 {
      font-size: 6rem;
      line-height: 6rem;
      font-family: var(--babas-font);
      font-weight: bold;
      color: #cccccc90;
      position: absolute;
      top: 67px;
    }
    h1 {
      letter-spacing: 3px;
      font-size: 5rem;
      line-height: 5rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      margin-top: 0;
      position: absolute;
    }
    .row {
      top: 160px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .item {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin-top: 50px;
        @include media("<=phone") {
          width: 100%;
        }
        .circle {
          margin-right: 15px;
          height: 20px;
          width: 20px;
          background-color: rgb(141, 139, 143);
          border-radius: 50%;
        }
        p {
          color: black;
          font-size: 20px;
        }
      }
    }
    a {
      margin-top: 60px;
      text-decoration: none;
      color: #e00ff0;
      font-weight: 500;
      font-size: 24px;
      font-weight: bold;
    }
  }

  ////////////////////////////////////////////////////////////////////////////////
  //////////////////////-------Software Development---------///////////////////////////
  &__softdevelopment {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 70px;
    background: var(--background-color-light);
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include media("<=phone") {
      padding: 50px 30px;
    }

    h2 {
      font-size: 6rem;
      line-height: 6rem;
      font-family: var(--babas-font);
      font-weight: bold;
      color: #cccccc90;
      position: absolute;
      top: 0px;
    }
    h1 {
      letter-spacing: 3px;
      font-size: 5rem;
      line-height: 5rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      margin-top: 0;
      position: absolute;
    }
    .row {
      top: 160px;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      .item {
        width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin-top: 50px;
        @include media("<=phone") {
          width: 100%;
        }
        .circle {
          margin-right: 15px;
          height: 20px;
          width: 20px;
          background-color: rgb(141, 139, 143);
          border-radius: 50%;
        }
        p {
          color: black;
          font-size: 20px;
        }
      }
    }
    a {
      margin-top: 40px;
      text-decoration: none;
      color: #e00ff0;
      font-weight: 500;
      font-size: 24px;
      font-weight: bold;
    }
  }
  ////////////////////////////////////////////////////////////////////
  /////////////////////////We Dev///////////////////////////

  &__wedev {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 250px;
    position: relative;

    background: var(--background-color-dark);
    h1 {
      color: white;
      text-align: right;
      font-size: 2.3rem;
      line-height: 3rem;
      font-weight: 300;
      z-index: 5;
    }
    p {
      color: white;
      text-align: right;
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 300;
      z-index: 5;
      margin-top: 30px;
    }
    .circle {
      height: 170px;
      width: 170px;
      border-radius: 50%;
      background: var(--pink-color);
      position: absolute;
      top: 140px;
      right: 180px;
      z-index: 0;
    }
  }
  //////////////////////////////////////////////////////////////////
  /////////////////////////Hardware Development/////////////////////
  &__hardwaredevelopment {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 180px;
    position: relative;
    h2 {
      position: absolute;
      font-size: 6rem;
      line-height: 6rem;
      font-family: var(--babas-font);
      font-weight: bold;
      color: #cccccc90;
      right: 250px;
      top: 107px;
    }
    h1 {
      text-align: right;
      letter-spacing: 3px;
      font-size: 5rem;
      line-height: 5rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      margin-top: 0;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      margin-top: 30px;
      width: 100%;
      .item {
        width: 50%;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        p {
          margin-left: auto;
          font-size: 20px;
        }
        .circle {
          margin-left: 20px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: rgb(190, 183, 183);
        }
      }
    }
    a {
      position: absolute;
      padding-top: 50px;
      right: 250px;
      text-decoration: none;
      color: #e00ff0;
      font-weight: 500;
      font-size: 24px;
      font-weight: bold;
    }
  }
  //////////////////////////////////////////////////////////////////////
  //////////////////////////Branding and Marketing Soluions /////////////
  &__brandingmarketing {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 140px;
    position: relative;
    h2 {
      position: absolute;
      font-size: 6rem;
      line-height: 6rem;
      font-family: var(--babas-font);
      font-weight: bold;
      color: #cccccc90;
      right: 250px;
      top: 67px;
    }
    h1 {
      text-align: right;
      letter-spacing: 3px;
      font-size: 5rem;
      line-height: 5rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      margin-top: 0;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: right;
      margin-top: 30px;
      width: 100%;
      .item {
        width: 50%;
        margin-left: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 40px;
        p {
          margin-left: auto;
          font-size: 20px;
        }
        .circle {
          margin-left: 20px;
          height: 20px;
          width: 20px;
          border-radius: 50%;
          background-color: rgb(190, 183, 183);
        }
      }
    }
    a {
      position: absolute;
      padding-top: 50px;
      right: 250px;
      text-decoration: none;
      color: #e00ff0;
      font-weight: 500;
      font-size: 24px;
      font-weight: bold;
    }
  }
  ///////////////////////////////////////////////////////////////////////
  ////////////////////////We Dev2////////////////////////////////////////
  &__wedev2 {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 250px;
    position: relative;

    background: var(--background-color-dark);
    h1 {
      color: white;
      //text-align: right;
      font-size: 2.3rem;
      line-height: 3rem;
      font-weight: 300;
      z-index: 5;
    }
    p {
      color: white;
      //text-align: right;
      font-size: 1.4rem;
      line-height: 2rem;
      font-weight: 300;
      z-index: 5;
      margin-top: 30px;
    }
    .circle {
      height: 170px;
      width: 170px;
      border-radius: 50%;
      background: var(--pink-color);
      position: absolute;
      top: 140px;
      left: 180px;
      z-index: 0;
    }
  }
  ///////////////////////////////////////////////////////////////////////
  //////////////////Our Happy Customer///////////////////////////////////
  &__ourhappycustomer {
    width: 100%;
    height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 130px;
    position: relative;
    h1 {
      font-size: 4rem;
      text-align: center;
    }
  }
}
