.service {
  width: 100%;

  // //////////////////////////////////////////////////////////////////////////////////////
  // ===================================== BANNER PART =====================================
  .globalbanner {
    .text {
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 7rem;
        line-height: 7rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        color: var(--text-color-black);
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 2.8rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 7rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 1rem;
          }
          span {
            position: absolute;
          }
        }
      }
      p {
        width: 70%;
        font-size: 2rem;
        font-weight: 400;
      }
    }
  }

  // //////////////////////////////////////////////////////////////////////////////////////
  // ===================================== OFFERS PART =====================================
  &__offers {
    width: 100%;
    min-height: 145vh;
    position: relative;

    .content-heading {
      width: 50%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--background-color-dark);
      .heading {
        width: 100%;
        height: 100vh;
        padding-left: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .circle {
          width: 250px;
          height: 250px;
          background: var(--pink-color);
          border-radius: 50%;
          position: absolute;
          top: -100px;
          @include media("<=phone") {
            width: 120px;
            height: 120px;
            top: -60px;
            right: 50px;
          }
        }
        h1 {
          width: 100%;
          letter-spacing: 3px;
          font-size: 5rem;
          line-height: 5rem;
          font-family: var(--babas-font);
          text-transform: uppercase;
          color: var(--text-color-white);
          @include media("<=phone") {
            text-align: left;
            font-size: 2.5rem;
            line-height: 2.8rem;
            letter-spacing: 2.5px;
          }
          div {
            width: 100%;
            height: 5rem;
            margin-bottom: 1rem;
            overflow: hidden;
            position: relative;
            @include media("<=phone") {
              height: 2.5rem;
              margin-bottom: 1rem;
            }
            span {
              position: absolute;
            }
          }
        }
      }
    }
    .content-content {
      width: 50%;
      height: 145vh;
      position: absolute;
      top: 0;
      right: 0;
      padding-right: 250px;
      padding-top: 150px;
      padding-bottom: 150px;
      padding-left: 100px;
      background: var(--background-color-dark);
      color: var(--text-color-white);
      p {
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 25px;
        text-align: justify;
      }
      p.big {
        font-size: 2.2rem;
        line-height: 2.8rem;
        text-align: left;
        margin-bottom: 30px;
      }
      a {
        display: block;
        text-decoration: none;
        margin-top: 55px;
        font-size: 16px;
        font-weight: 500;
        color: var(--pink-color);
        span {
          margin-left: 5px;
        }
      }
    }
    .content-offers {
      width: 50%;
      height: 50vh;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 250px;
      padding-top: 100px;
      p {
        font-size: 17px;
        line-height: 25px;
        margin-bottom: 25px;
        margin-left: 5px;
        font-weight: 400;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -25px;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: var(--pink-color);
        }
      }
    }
  }

  // //////////////////////////////////////////////////////////////////////////////////////
  // ===================================== USED TECH PART =================================
  &__technologies {
    width: 100%;
    min-height: 100vh;
    padding: 120px 250px;

    h1 {
      width: 100%;
      letter-spacing: 3px;
      text-align: right;
      font-size: 5rem;
      line-height: 5rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      @include media("<=phone") {
        text-align: left;
        font-size: 2.5rem;
        line-height: 2.8rem;
        letter-spacing: 2.5px;
      }
      div {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
        @include media("<=phone") {
          height: 2.5rem;
          margin-bottom: 1rem;
        }
        span {
          position: absolute;
          right: 0;
        }
      }
    }
    .technologies {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      .tech {
        width: 14.6%;
        margin: 10px 1%;
        height: 20vh;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: 60%;
        }
        div {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
          font-weight: 400;
        }
      }
    }
  }

  // //////////////////////////////////////////////////////////////////////////////////////
  // ===================================== WORKS PART =================================
  &__works {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;

    .head {
      width: 35%;
      padding-left: 250px;
      padding-top: 120px;
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 5rem;
        line-height: 5rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        color: var(--text-color-black);
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 2.8rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 1rem;
          }
          span {
            position: absolute;
          }
        }
      }
    }
    .content {
      width: 65%;
      padding-top: 120px;
      overflow: hidden;
      .slider {
        width: 100%;
        min-height: 60vh;
        margin-left: 120px;
        .work {
          width: 100%;
          height: 60vh;
          display: flex;
          align-items: center;
          justify-content: center;
          .container {
            width: 90%;
            height: 55vh;
            background: rgb(238, 238, 238);
            background: linear-gradient(
              198deg,
              rgba(238, 238, 238, 1) 28%,
              rgba(204, 204, 204, 1) 68%,
              rgba(206, 206, 206, 1) 83%
            );
            border: 1px solid gray;
            border-radius: 10px;
          }
        }
      }
      .slider-btn-box {
        margin-top: 32px;
        margin-left: 120px;
        display: flex;
        button {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: none;
          outline: none;
          margin-right: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          cursor: pointer;
          img{
            width: 30px;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
