.services {
  min-height: 100vh;

  &__banner {
    margin-top: 75px;
    width: 100%;
    height: 475px;
    @include media("<=phone") {
      height: 50vh;
      margin-top: 50px;
    }
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 2rem;

    .content {
      width: 80%;
      margin: auto;
      h1 {
        font-size: 4rem;
        @include media("<=phone") {
          font-size: 1.5rem;
        }
      }
      p {
        margin-top: 25px;
        width: 60%;
        font-size: 18px;
        line-height: 24px;
        @include media("<=phone") {
          width: 90%;
          font-size: 14.5px;
          line-height: 16px;
        }
      }
      button {
        margin-top: 30px;
        background-color: transparent;
        border: 1.5px solid #fff;
        padding: 8px 20px;
        border-radius: 30px;
        color: #fff;
        cursor: pointer;
        display: flex;
        align-items: center;
        @include media("<=phone") {
          font-size: 14px;
        }
        svg {
          margin-left: 10px;
          height: 16px;
        }
        font-family: var(--quicksand-font);
        font-size: 15px;
      }
    }
  }

  &__description {
    width: 80%;
    margin: auto;
    text-align: justify;
    margin-bottom: 120px;
    @include media("<=phone") {
      font-size: 14px;
      margin-bottom: 65px;
    }
  }

  &__offeredservices {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 65px;
    }

    .heading {
      width: 50%;
      @include media("<=phone") {
        width: 100%;
      }
      h3 {
        text-transform: uppercase;
        font-weight: lighter;
        font-size: 18px;
        @include media("<=phone") {
          font-size: 14px;
        }
      }
      h2 {
        font-size: 3.5rem;
        @include media("<=phone") {
          font-size: 1.5rem;
        }
      }
    }
    .offers {
      width: 50%;
      @include media("<=phone") {
        width: 100%;
        margin-top: 25px;
      }
    }
  }

  &__technologies {
    @include media("<=phone") {
      width: 90%;
    }
    width: 70%;
    margin: auto;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 65px;
    }
    .slider {
      min-height: 20vh;
      @include media("<=phone") {
        margin-top: -15px;
      }

      ul.slick-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        height: 30px;
        @include media("<=phone") {
          height: 17px;
        }
        li {
          height: 30px;
          width: 30px;
          @include media("<=phone") {
            height: 17px;
            width: 17px;
          }
          .custom-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .box {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: var(--blue-color);
              transition: 0.9s;
            }
          }
        }
        li.slick-active {
          .custom-dots {
            height: 30px;
            width: 30px;
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .box {
              height: 15px;
              width: 15px;
              background: transparent;
              border: 1px solid var(--blue-color);
              @include media("<=phone") {
                height: 10px;
                width: 10px;
              }
            }
          }
        }
      }
      .tech {
        width: 100%;
        height: 20vh;
        @include media("<=phone") {
          height: 10vh;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 50%;
        }
      }
    }
  }

  &__wrokwith {
    width: 80%;
    margin: auto;
    margin-bottom: 120px;
    @include media("<=phone") {
      margin-bottom: 65px;
    }
    .slider {
      min-height: 20vh;
      @include media("<=phone") {
        margin-top: -15px;
      }
      ul.slick-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        height: 30px;
        @include media("<=phone") {
          height: 17px;
        }
        li {
          height: 30px;
          width: 30px;
          @include media("<=phone") {
            height: 17px;
            width: 17px;
          }
          .custom-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 30px;
            width: 30px;
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .box {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: var(--blue-color);
              transition: 0.9s;
              @include media("<=phone") {
                height: 7px;
                width: 7px;
              }
            }
          }
        }
        li.slick-active {
          .custom-dots {
            height: 30px;
            width: 30px;
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .box {
              height: 15px;
              width: 15px;
              background: transparent;
              border: 1px solid var(--blue-color);
              @include media("<=phone") {
                height: 10px;
                width: 10px;
              }
            }
          }
        }
      }
      .works {
        width: 100%;
        height: 20vh;
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        @include media("<=phone") {
          height: 10vh;
        }
        img {
          width: 50%;
        }
      }
    }
  }

  .slider {
    min-height: 20vh;
    @include media("<=phone") {
      margin-top: -15px;
    }
  }
}
