.about {
  width: 100%;

  // //////////////////////////////////////////////////////////////////////////////////////
  // ===================================== WHO PART =====================================
  &__about {
    min-height: 100vh;
    width: 100%;
    padding: 200px 300px 130px 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: var(--background-color-dark);
    @include media("<=1620px") {
      padding: 200px 270px 130px 270px;
    }
    @include media("<=1520px") {
      padding: 170px 250px 110px 250px;
    }
    @include media("<=desktop") {
      padding: 150px 230px 190px 230px;
    }
    @include media("<=1260px") {
      padding: 140px 150px 90px 150px;
    }
    @include media("<=semiDesktop") {
      padding: 130px 140px 90px 140px;
    }
    @include media("<=950px") {
      padding: 90px 130px 70px 130px;
    }
    @include media("<=900px") {
      padding: 90px 100px 70px 100px;
    }
    @include media("<=phone") {
      min-height: 90vh;
      padding: 80px 30px;
      align-items: flex-start;
    }

    .heading {
      width: 40%;
      position: relative;
      @include media("<=900px") {
        width: 100%;
      }
      .circle {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background: var(--pink-color);
        position: absolute;
        top: -90px;
        left: -90px;
        z-index: 0;
        @include media("<=1620px") {
          width: 140px;
          height: 140px;
        }
        @include media("<=1520px") {
          width: 130px;
          height: 130px;
        }
        @include media("<=desktop") {
          width: 120px;
          height: 120px;
        }
        @include media("<=1260px") {
          width: 110px;
          height: 110px;
          top: -70px;
          left: -70px;
        }
        @include media("<=semiDesktop") {
          width: 100px;
          height: 100px;
        }
        @include media("<=900px") {
          left: -50px;
          top: -70px;
        }
        @include media("<=phone") {
          display: none;
        }
      }
      h3 {
        width: 100%;
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2rem;
        color: var(--text-color-white);
        position: absolute;
        top: 0;
        left: 0;
        @include media("<=desktop") {
          font-size: 18px;
          line-height: 18px;
        }
        @include media("<=phone") {
          font-size: 13.5px;
          line-height: 18px;
        }
        div {
          width: 100%;
          height: 1.8rem;
          margin: 0.4rem 0;
          overflow: hidden;
          position: relative;
          @include media("<=desktop") {
            height: 18px;
            margin: 0.3rem;
          }
          @include media("<=phone") {
            height: 18px;
            margin: 2px;
          }
          span {
            position: absolute;
          }
        }
      }
      h1 {
        width: 100%;
        // margin-top: 5rem;
        // font-size: 6rem;
        font-size: 5rem;
        font-family: var(--babas-font);
        letter-spacing: 3px;
        color: var(--text-color-white);
        @include media("<=1608px") {
          font-size: 4.7rem;
          line-height: 4.7rem;
        }
        @include media("<=1508px") {
          font-size: 4.5rem;
          line-height: 4.5rem;
        }
        @include media("<=desktop") {
          margin-top: 4.3rem;
          font-size: 4rem;
          line-height: 4rem;
        }
        @include media("<=1260px") {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @include media("<=semiDesktop") {
          font-size: 3.3rem;
          line-height: 3.3rem;
        }
        @include media("<=900px") {
          font-size: 3.5rem;
          line-height: 3.5rem;
          display: flex;
        }
        @include media("<=700px") {
          font-size: 3rem;
          line-height: 3rem;
        }
        @include media("<=phone") {
          margin-top: 3rem;
          font-size: 2rem;
          line-height: 30px;
          letter-spacing: 4px;
        }
        div {
          width: 100%;
          // height: 7rem;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;

          @include media("<=1608px") {
            height: 4.7rem;
            margin-bottom: 5px;
          }
          @include media("<=1508px") {
            height: 4.5rem;
          }
          @include media("<=desktop") {
            height: 4rem;
            margin-bottom: 0.5rem;
          }
          @include media("<=1260px") {
            height: 3.5rem;
          }
          @include media("<=1000px") {
            height: 3.3rem;
          }
          @include media("<=900px") {
            height: 3.5rem;
            width: 19%;
          }
          @include media("<=800px") {
            width: 21%;
          }
          @include media("<=phone") {
            width: 26%;
            height: 2rem;
            margin-bottom: 2px;
          }
          span {
            width: fit-content;
            position: absolute;
          }
          &:nth-child(2) {
            @include media("<=900px") {
              width: 11%;
            }
            @include media("<=800") {
              width: 13%;
            }
            @include media("<=phone") {
              width: 100%; // <-- changed
            }
          }
        }
      }
    }
    .text {
      width: 60%;
      height: fit-content;
      @include media("<=900px") {
        width: 100%;
        margin-top: -100px;
      }
      @include media("<=phone") {
        width: 100%;
        margin-top: 10px;
      }
      .text-content {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        p {
          font-size: 16px;
          line-height: 25px;
          margin-bottom: 20px;
          text-align: justify;
          color: var(--text-color-white);
          @include media("<=desktop") {
            font-size: 14px;
          }
          @include media("<=phone") {
            font-size: var(--mobile-paragraph-size);
          }
        }
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ======================================== WHY PART =======================================
  &__why {
    width: 100%;
    height: 80vh;
    padding: 100px 250px 0 250px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    @include media("<=1620px") {
      padding: 100px 230px;
    }
    @include media("<=1520px") {
      padding: 100px 200px;
    }
    @include media("<=desktop") {
      padding: 120px 180px;
    }
    @include media("<=1260px") {
      padding: 130px 145px;
    }
    @include media("<=semiDesktop") {
      padding: 130px 140px;
    }
    @include media("<=950px") {
      padding: 140px 130px;
    }
    @include media("<=900px") {
      padding: 0 100px;
      align-items: start;
      height: 70vh;
    }
    @include media("<=phone") {
      padding: 50px 30px;
      height: 80vh;
    }
    .content {
      width: 40%;
      @include media("<=900px") {
        width: 100%;
      }
      .heading-container {
        position: relative;
        .circle {
          width: 150px;
          height: 150px;
          border-radius: 50%;
          background: var(--pink-color-light);
          position: absolute;
          top: -90px;
          right: -90px;
          z-index: 0;
          @include media("<=1620px") {
            width: 140px;
            height: 140px;
          }
          @include media("<=1520px") {
            width: 130px;
            height: 130px;
            top: -75px;
            right: -75px;
          }
          @include media("<=desktop") {
            width: 120px;
            height: 120px;
            right: -70px;
          }
          @include media("<=1260px") {
            width: 110px;
            height: 110px;
            top: -65px;
            right: -70px;
          }
          @include media("<=semiDesktop") {
            width: 100px;
            height: 100px;
            top: -50px;
          }
          @include media("<=900px") {
            top: -65px;
            right: -50px;
          }
          @include media("<=phone") {
            display: none;
          }
        }
        h1 {
          width: 100%;
          letter-spacing: 3px;
          text-align: right;
          font-size: 5rem;
          line-height: 5rem;
          font-family: var(--babas-font);
          text-transform: uppercase;
          color: var(--text-color-black);
          @include media("<=1608px") {
            font-size: 4.6rem;
            line-height: 4.6rem;
          }
          @include media("<=1508px") {
            font-size: 4.3rem;
            line-height: 4.3rem;
          }
          @include media("<=desktop") {
            font-size: 4rem;
            line-height: 4rem;
          }
          @include media("<=1260px") {
            font-size: 3.4rem;
            line-height: 3.4rem;
          }
          @include media("<=semiDesktop") {
            font-size: 3.1rem;
            line-height: 3.1rem;
          }
          @include media("<=900px") {
            font-size: 3.5rem;
            line-height: 3.5rem;
          }
          @include media("<=700px") {
            font-size: 2.9rem;
            line-height: 2.9rem;
          }
          @include media("<=phone") {
            text-align: left;
            font-size: 2.5rem;
            line-height: 2.5rem;
            letter-spacing: 2.5px;
          }
          div {
            width: 100%;
            height: 5rem;
            margin-bottom: 1rem;
            overflow: hidden;
            position: relative;
            @include media("<=1608px") {
              height: 4.6rem;
              margin-bottom: 5px;
            }
            @include media("<=1508px") {
              height: 4.3rem;
            }
            @include media("<=desktop") {
              height: 4rem;
              margin-bottom: 0.5rem;
            }
            @include media("<=1260px") {
              height: 3.4rem;
            }
            @include media("<=1000px") {
              height: 3.1rem;
            }
            @include media("<=900px") {
              height: 3.4rem;
            }
            @include media("<=phone") {
              height: 2.5rem;
              margin-bottom: 5px;
            }
            span {
              position: absolute;
              right: 0;
            }
          }
        }
      }
      .text-container {
        width: 100%;
        height: fit-content;
        overflow: hidden;
        p {
          font-size: 17px;
          line-height: 30px;
          margin-bottom: 20px;
          text-align: justify;
          color: var(--text-color-black);
          @include media("<=desktop") {
            font-size: 14px;
            line-height: 25px;
          }
          @include media("<=phone") {
            font-size: var(--mobile-paragraph-size);
          }
        }
      }
    }
    .design {
      position: relative;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include media("<=900px") {
        width: 100%;
      }
      &__container {
        width: 70%;
        animation: rotation;
        animation-duration: 18s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        @include media("<=1200px") {
          width: 90%;
        }
        @include media("<=900px") {
          left: 0px;
          top: 80%;
        }
        @include media("<=phone") {
          width: 80%;
          left: 0px;
          top: 50%;
          transform: translateY(-75%);
        }
        .row {
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .smallcircle,
          .bigcircle {
            border-radius: 50%;
            border: 2px solid var(--pink-color);
          }
          .smallcircle {
            width: 60px;
            height: 60px;
            @include media("<=desktop") {
              width: 50px;
              height: 50px;
            }
            @include media("<=1200") {
              width: 40px;
              height: 40px;
            }
            @include media("<=750px") {
              width: 30px;
              height: 30px;
            }
            @include media("<=phone") {
              width: 20px;
              height: 20px;
            }
          }
          .bigcircle {
            width: 120px;
            height: 120px;
            margin: 5px;
            @include media("<=desktop") {
              width: 100px;
              height: 100px;
            }
            @include media("<=1260px") {
              width: 90px;
              height: 90px;
            }
            @include media("<=900px") {
              width: 80px;
              height: 80px;
            }
            @include media("<=850px") {
              width: 70px;
              height: 70px;
            }
            @include media("<=750px") {
              width: 65px;
              height: 65px;
            }
            @include media("<=phone") {
              width: 56px;
              height: 56px;
            }
          }
        }
        .row.top {
          align-items: flex-end;
        }
        .row.below {
          align-items: flex-start;
        }
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ========================================= HOW PART =====================================
  &__process {
    width: 100%;
    height: 110vh;
    padding: 120px 250px 250px 250px;
    @include media("<=1620px") {
      padding: 110px 230px 230px 230px;
    }
    @include media("<=1520px") {
      padding: 100px 200px 200px 200px;
    }
    @include media("<=desktop") {
      height: 115vh;
      padding: 90px 180px 180px 180px;
    }
    @include media("<=1260px") {
      padding: 80px 145px 145px 145px;
      height: fit-content;
    }
    @include media("<=semiDesktop") {
      padding: 50px 135px 135px 135px;
    }
    @include media("<=950px") {
      padding: 20px 130px 130px 130px;
    }
    @include media("<=900px") {
      padding: 0 100px 100px 100px;
    }
    @include media("<=phone") {
      padding: 50px 30px;
    }
    h1 {
      width: 100%;
      letter-spacing: 3px;
      font-size: 5rem;
      line-height: 5rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      @include media("<=1608px") {
        font-size: 4.6rem;
        line-height: 4.6rem;
      }
      @include media("<=1508px") {
        font-size: 4.3rem;
        line-height: 4.3rem;
      }
      @include media("<=desktop") {
        font-size: 4rem;
        line-height: 4rem;
      }
      @include media("<=1260px") {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
      @include media("<=semiDesktop") {
        font-size: 3.1rem;
        line-height: 3.1rem;
      }
      @include media("<=900px") {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
      @include media("<=700px") {
        font-size: 2.9rem;
        line-height: 2.9rem;
      }
      @include media("<=phone") {
        font-size: 2.5rem;
        line-height: 2.5rem;
        letter-spacing: 2.5px;
      }
      div {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        overflow: hidden;
        position: relative;
        @include media("<=1608px") {
          height: 4.6rem;
          margin-bottom: 5px;
        }
        @include media("<=1508px") {
          height: 4.3rem;
        }
        @include media("<=desktop") {
          height: 4rem;
          margin-bottom: 0.5rem;
        }
        @include media("<=1260px") {
          height: 3.4rem;
        }
        @include media("<=1000px") {
          height: 3.1rem;
        }
        @include media("<=900px") {
          height: 3.4rem;
        }
        @include media("<=phone") {
          height: 2.5rem;
          margin-bottom: 5px;
        }
        span {
          position: absolute;
        }
      }
    }

    .processes {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      .col {
        width: 50%;
        @include media("<=900px") {
          width: 100%;
        }
        .process {
          width: 90%;
          display: flex;
          align-items: flex-start;
          margin-top: 2rem;
          @include media("<=phone") {
            width: 100%;
          }
          &__logo {
            img {
              height: 65px;
              @include media("<=desktop") {
                height: 50px;
              }
              @include media("<=phone") {
                height: 30px;
              }
            }
          }
          &__number {
            margin-left: 0px;
            margin-right: -9px;
            font-size: 6rem;
            line-height: 6rem;
            font-family: var(--babas-font);
            font-weight: bold;
            color: #cccccc90;
            @include media("<=desktop") {
              font-size: 5.5rem;
              line-height: 5.5rem;
            }
            @include media("<=phone") {
              font-size: 4rem;
              line-height: 4rem;
            }
          }
          &__text {
            h3 {
              font-size: 20px;
              text-transform: uppercase;
              @include media("<=desktop") {
                font-size: 17px;
              }
              @include media("<=phone") {
                font-size: 16px;
              }
            }
            p {
              font-size: 15px;
              @include media("<=desktop") {
                font-size: 14px;
                line-height: 22px;
              }
              @include media("<=phone") {
                font-size: var(--mobile-paragraph-size);
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== WHAT PART ===================================
  &__what {
    width: 100%;
    min-height: 100vh;
    padding: 200px 250px;
    background: var(--background-color-dark);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include media("<=1620px") {
      padding: 180px 230px;
    }
    @include media("<=1520px") {
      padding: 160px 200px;
    }
    @include media("<=desktop") {
      padding: 150px 180px;
    }
    @include media("<=1260px") {
      padding: 140px 155px;
      min-height: 90vh;
    }
    @include media("<=semiDesktop") {
      padding: 130px 140px;
    }
    @include media("<=950px") {
      padding: 120px 130px;
      min-height: 80vh;
    }
    @include media("<=phone") {
      min-height: 60vh;
      padding: 30px;
    }
    .content {
      width: 100%;
      h3 {
        color: var(--text-color-white);
        letter-spacing: 2px;
        margin-bottom: 25px;
        font-weight: 200;
        font-size: 16px;
        @include media("<=1266px") {
          font-size: 15px;
          margin-bottom: 15px;
        }
        @include media("<=phone") {
          font-size: 14.5px;
          margin-bottom: 13px;
        }
      }
      p {
        color: var(--text-color-white);
        font-size: 2.5rem;
        line-height: 2.5rem;
        @include media("<=desktop") {
          font-size: 2rem;
          line-height: 2rem;
        }
        div {
          width: 100%;
          height: 2.7rem;
          margin-bottom: 15px;
          position: relative;
          overflow: hidden;
          @include media("<=desktop") {
            height: 2.2rem;
            margin-bottom: 15px;
          }
          span {
            position: absolute;
          }
        }
        @include media("<=1266px") {
          display: none;
        }
      }
      p.mobile {
        @include media(">=1266px") {
          display: none;
        }
        @include media("<=1266px") {
          display: block;
          font-size: 1.9rem;
          line-height: 2.9rem;
        }
        @include media("<=1166px") {
          font-size: 1.8rem;
          line-height: 2.7rem;
        }
        @include media("<=1066px") {
          font-size: 1.5rem;
          line-height: 2.5rem;
        }
        @include media("<=966px") {
          font-size: 1.8rem;
          line-height: 2.8rem;
        }
        @include media("<=phone") {
          font-size: var(--mobile-paragraph-size);
          line-height: 25px;
        }
      }
      .globalMoreButton {
        margin-top: 40px;
        @include media("<=desktop") {
          margin-top: 30px;
        }
        @include media("<=phone") {
          margin-top: 15px;
        }
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== CULTURE PART ===================================
  &__culture {
    width: 100%;
    min-height: 100vh;
    padding: 150px 250px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    @include media("<=1620px") {
      padding: 140px 230px;
    }
    @include media("<=1520px") {
      padding: 130px 200px;
    }
    @include media("<=desktop") {
      padding: 120px 180px;
    }
    @include media("<=1260px") {
      padding: 100px 145px;
    }
    @include media("<=semiDesktop") {
      padding: 90px 140px;
    }
    @include media("<=950px") {
      padding: 80px 130px;
    }
    @include media("<=phone") {
      padding: 50px 30px;
    }
    .circle {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: var(--pink-color-light);
      position: absolute;
      top: -90px;
      left: -90px;
      z-index: 0;
      @include media("<=1620px") {
        width: 140px;
        height: 140px;
      }
      @include media("<=1520px") {
        width: 130px;
        height: 130px;
        top: -75px;
        left: -75px;
      }
      @include media("<=desktop") {
        width: 120px;
        height: 120px;
        left: -70px;
      }
      @include media("<=1260px") {
        width: 110px;
        height: 110px;
        top: -65px;
        left: -70px;
      }
      @include media("<=semiDesktop") {
        width: 100px;
        height: 100px;
        top: -50px;
      }
      @include media("<=900px") {
        top: 80px;
        left: 70px;
      }
      @include media("<=phone") {
        display: none;
      }
    }
    .heading {
      width: 50%;
      height: 60vh;
      margin-top: 25vh;
      position: sticky;
      top: 30vh;
      @include media("<=900px") {
        width: 100%;
        margin-top: 70px;
        position: static;
        height: fit-content;
      }
      @include media("<=phone") {
        margin-top: 0;
      }
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 5rem;
        line-height: 5rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        color: var(--text-color-black);
        @include media("<=1608px") {
          font-size: 4.6rem;
          line-height: 4.6rem;
        }
        @include media("<=1508px") {
          font-size: 4.3rem;
          line-height: 4.3rem;
        }
        @include media("<=desktop") {
          font-size: 4rem;
          line-height: 4rem;
        }
        @include media("<=1260px") {
          font-size: 3.4rem;
          line-height: 3.4rem;
        }
        @include media("<=semiDesktop") {
          font-size: 3.1rem;
          line-height: 3.1rem;
        }
        @include media("<=900px") {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @include media("<=700px") {
          font-size: 2.9rem;
          line-height: 2.9rem;
        }
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 2.5rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=1608px") {
            height: 4.6rem;
            margin-bottom: 5px;
          }
          @include media("<=1508px") {
            height: 4.3rem;
          }
          @include media("<=desktop") {
            height: 4rem;
            margin-bottom: 0.5rem;
          }
          @include media("<=1260px") {
            height: 3.4rem;
          }
          @include media("<=1000px") {
            height: 3.1rem;
          }
          @include media("<=900px") {
            height: 3.4rem;
          }
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 5px;
          }
          span {
            position: absolute;
          }
        }
      }
    }
    .contents {
      width: 50%;
      height: fit-content;
      @include media("<=900px") {
        width: 100%;
        margin-top: 2rem;
      }

      .content {
        margin-bottom: 48px;
        @include media("<=desktop") {
          margin-bottom: 28px;
        }

        .head {
          display: flex;
          align-items: center;
          // margin-bottom: 2rem;
          // padding-right: 50px;
          @include media("<=phone") {
            padding-right: 0;
            margin-bottom: 1rem;
          }
          .cir {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background: var(--pink-color-light);
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 15px;
            @include media("<=desktop") {
              width: 25px;
              height: 25px;
            }
            @include media("<=phone") {
              width: 20px;
              height: 20px;
              margin-right: 10px;
            }
            .cir-small {
              width: 17px;
              height: 17px;
              border-radius: 50%;
              background: var(--pink-color);
              transform: scale(0);
              @include media("<=desktop") {
                width: 15px;
                height: 15px;
              }
              @include media("<=phone") {
                width: 10px;
                height: 10px;
              }
            }
          }
          h3 {
            font-weight: 500;
            font-size: 20px;
            margin-bottom: 10px;
            text-transform: uppercase;
            @include media("<=desktop") {
              font-size: 17px;
              margin-bottom: 7px;
            }
            @include media("<=phone") {
              font-size: 16px;
              margin-bottom: 6px;
              font-weight: 600;
            }
          }
        }
        p {
          font-size: 17px;
          line-height: 30px;
          font-weight: 300;
          margin-left: 40px;
          @include media("<=desktop") {
            font-size: 15px;
            line-height: 25px;
            margin-left: 35px;
          }
          @include media("<=phone") {
            font-size: var(--mobile-paragraph-size);
            line-height: 24px;
            margin-left: 30px;
          }
        }
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== TRIFECTA PART ===================================
  &__trifecta {
    width: 100%;
    height: 85vh;
    position: relative;
    @include media("<=desktop") {
      height: 90vh;
    }
    @include media("<=1266px") {
      height: 70vh;
    }
    @include media("<=900px") {
      height: 90vh;
    }
    @include media("<=phone") {
      padding: 50px 30px 0 30px;
      height: 85vh;
    }

    .head {
      width: 40%;
      position: absolute;
      right: 250px;
      top: 100px;
      @include media("<=1620px") {
        right: 230px;
      }
      @include media("<=1520px") {
        right: 200px;
      }
      @include media("<=desktop") {
        right: 180px;
      }
      @include media("<=1260px") {
        right: 140px;
      }
      @include media("<=semiDesktop") {
        top: 80px;
        right: 140px;
      }
      @include media("<=950px") {
        right: 130px;
      }
      @include media("<=900px") {
        width: 100%;
      }
      @include media("<=phone") {
        width: 100%;
        right: 30px;
        top: 30px;
      }
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 5rem;
        line-height: 5rem;
        font-family: var(--babas-font);
        text-align: right;
        text-transform: uppercase;
        color: var(--text-color-black);
        @include media("<=1608px") {
          font-size: 4.6rem;
          line-height: 4.6rem;
        }
        @include media("<=1508px") {
          font-size: 4.3rem;
          line-height: 4.3rem;
        }
        @include media("<=desktop") {
          font-size: 4rem;
          line-height: 4rem;
        }
        @include media("<=1260px") {
          font-size: 3.4rem;
          line-height: 3.4rem;
        }
        @include media("<=semiDesktop") {
          font-size: 3.1rem;
          line-height: 3.1rem;
        }
        @include media("<=900px") {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @include media("<=700px") {
          font-size: 2.9rem;
          line-height: 2.9rem;
        }
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 2.5rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=1608px") {
            height: 4.6rem;
            margin-bottom: 5px;
          }
          @include media("<=1508px") {
            height: 4.3rem;
          }
          @include media("<=desktop") {
            height: 4rem;
            margin-bottom: 0.5rem;
          }
          @include media("<=1260px") {
            height: 3.4rem;
          }
          @include media("<=1000px") {
            height: 3.1rem;
          }
          @include media("<=900px") {
            height: 3.4rem;
          }
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 5px;
          }
          span {
            position: absolute;
            right: 0;
          }
        }
      }
      p {
        width: 80%;
        margin-left: auto;
        color: var(--text-color-black);
        font-size: 17px;
        line-height: 30px;
        text-align: right;
        @include media("<=desktop") {
          font-size: 14px;
          line-height: 25px;
        }
        @include media("<=phone") {
          width: calc(100% - 50px);
          font-size: 13.5px;
          line-height: 25px;
        }
      }
      .options {
        margin-top: 2rem;
        @include media("<=phone") {
          font-size: var(--mobile-paragraph-size);
        }
        p {
          position: relative;
          margin-left: 20px;
          font-size: 1.8rem;
          line-height: 2.8rem;
          @include media("<=phone") {
            font-size: var(--mobile-paragraph-size);
            line-height: 1.8rem;
            display: none;
          }
          &::after {
            content: "";
            position: absolute;
            top: 50%;
            left: -20px;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: var(--pink-color);
          }
        }
      }
    }
    .circle {
      position: absolute;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      background: var(--pink-color-light);
      right: 170px;
      top: 10px;
      @include media("<=1620px") {
        width: 140px;
        height: 140px;
        right: 140px;
      }
      @include media("<=1520px") {
        width: 130px;
        height: 130px;
        top: 15px;
        right: 130px;
      }
      @include media("<=desktop") {
        width: 120px;
        height: 120px;
        top: 25px;
        right: 100px;
      }
      @include media("<=1260px") {
        width: 110px;
        height: 110px;
        right: 80px;
      }
      @include media("<=semiDesktop") {
        width: 100px;
        height: 100px;
        top: 13px;
      }
      @include media("<=950px") {
        right: 70px;
      }
      @include media("<=900px") {
        top: 17px;
        right: 70px;
      }
      @include media("<=phone") {
        display: none;
      }
    }
    img {
      position: absolute;
      width: 40%;
      bottom: 30%;
      left: 200px;
      text-align: left;
      @include media("<=desktop") {
        left: 150px;
        bottom: 27%;
      }
      @include media("<=1266px") {
        left: 150px;
        bottom: 40%;
      }
      @include media("<=900px") {
        width: 50%;
        bottom: 15%;
        left: 250px;
      }
      @include media("<=phone") {
        width: 85%;
        left: 51%;
        transform: translateX(-50%);
        bottom: 0;
      }
    }
  }
}

@keyframes scrollBelow {
  0% {
    margin-top: 0;
  }
  13% {
    margin-top: 5px;
  }
  25% {
    margin-top: 10px;
  }
  38% {
    margin-top: 5px;
  }
  50% {
    margin-top: 0;
  }
  63% {
    margin-top: -5px;
  }
  75% {
    margin-top: -10px;
  }
  88% {
    margin-top: -5px;
  }
  100% {
    margin-top: 0;
  }
}

/* The animation code */
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
