.contact {
  width: 100%;
  min-height: 100vh;
  padding: 150px 240px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow: hidden;
  @include media("<=1620px") {
    padding: 100px 230px;
  }
  @include media("<=1520px") {
    padding: 100px 200px;
  }
  @include media("<=desktop") {
    padding: 100px 180px;
  }
  @include media("<=1260px") {
    padding: 90px 145px;
  }
  @include media("<=semiDesktop") {
    padding: 70px 130px;
  }
  @include media("<=900px") {
    padding: 120px 130px 50px 130px;
  }
  @include media("<=phone") {
    padding: 30px;
  }
  &__form {
    width: 50%;
    min-height: calc(100vh - 240px);
    position: relative;
    @include media("<=900px") {
      width: 100%;
    }

    .circle {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: var(--pink-color);
      position: absolute;
      top: -70px;
      left: -70px;
      @include media("<=1620px") {
        width: 110px;
        height: 110px;
      }
      @include media("<=1520px") {
        width: 100px;
        height: 100px;
        top: -65px;
        left: -60px;
      }
      @include media("<=semiDesktop") {
        width: 90px;
        height: 90px;
        top: -50px;
      }
      @include media("<=900px") {
        top: -65px;
        left: -50px;
      }
      @include media("<=phone") {
        display: none;
      }
    }
    h1 {
      width: 100%;
      letter-spacing: 3px;
      font-size: 4rem;
      line-height: 4rem;
      font-family: var(--babas-font);
      text-transform: uppercase;
      color: var(--text-color-black);
      @include media("<=1608px") {
        font-size: 3.6rem;
        line-height: 3.6rem;
      }
      @include media("<=1508px") {
        font-size: 3.3rem;
        line-height: 3.3rem;
      }
      @include media("<=desktop") {
        font-size: 3rem;
        line-height: 3rem;
      }
      @include media("<=1260px") {
        font-size: 2.4rem;
        line-height: 2.4rem;
      }
      @include media("<=semiDesktop") {
        font-size: 2.1rem;
        line-height: 2.1rem;
      }
      @include media("<=900px") {
        font-size: 2.5rem;
        line-height: 2.5rem;
      }
      @include media("<=700px") {
        font-size: 1.9rem;
        line-height: 1.9rem;
      }
      @include media("<=phone") {
        text-align: left;
        font-size: 2.5rem;
        line-height: 2.8rem;
        letter-spacing: 1px;
      }
      div {
        width: 100%;
        height: 3.6rem;
        margin-bottom: 5px;
        overflow: hidden;
        position: relative;
        @include media("<=1608px") {
          height: 3.6rem;
          margin-bottom: 5px;
        }
        @include media("<=1508px") {
          height: 3.3rem;
        }
        @include media("<=desktop") {
          height: 3rem;
        }
        @include media("<=1260px") {
          height: 2.4rem;
        }
        @include media("<=1000px") {
          height: 2.1rem;
        }
        @include media("<=900px") {
          height: 2.4rem;
        }
        @include media("<=phone") {
          height: 2.5rem;
          margin-bottom: 5px;
        }
        span {
          position: absolute;
        }
      }
    }
    p.cnt_text {
      margin-top: 1rem;
      @include media("<=phone") {
        font-size: 13px;
      }
    }

    form {
      width: 100%;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      .input-container {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media("<=phone") {
          margin-bottom: 10px;
        }
        input,
        textarea,
        select {
          width: 100%;
          padding: 15px 20px;
          font-size: 15px;
          outline: none;
          border: none;
          border-radius: 5px;
          font-family: var(--poppins-font);
          background: #cccccc50;
          color: var(--text-color-black);
          @include media("<=desktop") {
            padding: 12px 18px;
            font-size: 14px;
          }
          @include media("<=phone") {
            font-size: 13.5px;
          }
        }
        .input_50 {
          width: 49%;
          &:not(:last-child) {
            @include media("<=phone") {
              margin-bottom: 10px;
            }
          }
          @include media("<=phone") {
            width: 100%;
          }
        }
        // Check box
        .checkbox {
          background: #cccccc50;
          margin-top: 10px;
          border-radius: 5px;
          display: flex;
          @include media("<=phone") {
            margin-top: 0;
          }
          .logo {
            width: 20%;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
            div {
              width: 45px;
              height: 45px;
              border-radius: 5px;
              background: #cccccc50;
              box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              img {
                width: 65%;
              }
            }
          }
          .checkBoxCont {
            padding: 15px 20px 15px 20px;
            input {
              padding: 0;
              height: initial;
              width: initial;
              margin-bottom: 0;
              display: none;
              cursor: pointer;
            }
            label {
              position: relative;
              cursor: pointer;
              font-size: 14px;
            }
            label:before {
              content: "";
              -webkit-appearance: none;
              background-color: transparent;
              border: 2px solid var(--background-color-dark);
              border-radius: 5px;
              box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
                inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
              padding: 10px;
              display: inline-block;
              position: relative;
              vertical-align: middle;
              cursor: pointer;
              margin-right: 10px;
            }
            input:checked + label:after {
              content: "";
              display: block;
              position: absolute;
              top: 2px;
              left: 9px;
              width: 5px;
              height: 10px;
              border: solid var(--text-color-white);
              border-width: 0 2px 2px 0;
              transform: rotate(45deg);
            }
            input:checked + label:before {
              background: var(--background-color-dark);
            }
          }
        }
      }
      .container_wrapper {
        width: 100%;
        padding: 0;
        margin-bottom: 20px;
        border-radius: 5px;
        p {
          @include media("<=phone") {
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      button {
        width: fit-content;
        min-height: 45px;
        padding: 11px 20px;
        font-size: 18px;
        line-height: 15px;
        font-weight: 500;
        text-transform: uppercase;
        outline: none;
        border: none;
        background: var(--pink-color);
        // background: var(--background-color-dark);
        // border-radius: 30px;
        border-radius: 5px;
        // color: var(--text-color-white);
        color: #f2f2f2;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        // transform: scale(1);
        // transition: 0.2s all ease-in-out;
        // &:hover {
        //   transform: scale(1.02);
        //   transition: 0.2s all ease-in-out;
        // }
        .textcontainer {
          display: flex;
          align-items: center;
          overflow: hidden;
          div {
            margin: 0 5px;
          }
        }
        @include media("<=phone") {
          font-size: 13.5px;
          padding: 10px 30px;
          min-height: 35px;
        }
      }
    }
  }

  &__design {
    width: 50%;
    min-height: 50vh;
    position: relative;
    @include media("<=900px") {
      width: 100%;
      min-height: 65vh;
    }

    .more-ways {
      width: 100%;
      padding: 50px 0;
      position: absolute;
      bottom: 0;
      right: 0;
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 4rem;
        line-height: 4rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        text-align: right;
        color: var(--text-color-black);
        @include media("<=1608px") {
          font-size: 3.6rem;
          line-height: 3.6rem;
        }
        @include media("<=1508px") {
          font-size: 3.3rem;
          line-height: 3.3rem;
        }
        @include media("<=desktop") {
          font-size: 3rem;
          line-height: 3rem;
        }
        @include media("<=1260px") {
          font-size: 2.4rem;
          line-height: 2.4rem;
        }
        @include media("<=semiDesktop") {
          font-size: 2.1rem;
          line-height: 2.1rem;
        }
        @include media("<=900px") {
          font-size: 2.5rem;
          line-height: 2.5rem;
        }
        @include media("<=700px") {
          font-size: 1.9rem;
          line-height: 1.9rem;
        }
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 2.8rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 3.6rem;
          margin-bottom: 5px;
          overflow: hidden;
          position: relative;
          @include media("<=1608px") {
            height: 3.6rem;
            margin-bottom: 5px;
          }
          @include media("<=1508px") {
            height: 3.3rem;
          }
          @include media("<=desktop") {
            height: 3rem;
          }
          @include media("<=1260px") {
            height: 2.4rem;
          }
          @include media("<=1000px") {
            height: 2.1rem;
          }
          @include media("<=900px") {
            height: 2.4rem;
          }
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 10px;
          }
          span {
            position: absolute;
            right: 0;
          }
        }
      }

      .block {
        margin-top: 25px;
        margin-bottom: 50px;
        @include media("<=1566px") {
          margin-bottom: 40px;
        }
        @include media("<=desktop") {
          margin-bottom: 30px;
        }
        @include media("<=semiDesktop") {
          margin-bottom: 20px;
        }
        h2 {
          font-weight: 600;
          text-align: right;
          text-transform: uppercase;
          font-size: 1rem;
        }
        p {
          text-align: right;
          font-size: 20px;
          // font-weight: 200;
          @include media("<=1566px") {
            font-size: 18px;
          }
          @include media("<=desktop") {
            font-size: 16px;
          }
          @include media("<=semiDesktop") {
            font-size: 14.5px;
          }
          @include media("<=phone") {
            font-size: 13.5px;
          }
        }
      }
    }
  }
}
