.home {
  // //////////////////////////////////////////////////////////////////////////////////////
  // ===================================== BANNER PART =====================================
  &__banner {
    height: 100vh;
    width: 100%;
    background: var(--background-color-dark);
    position: relative;
    overflow: hidden;
    @include media("<=phone") {
      width: 100%;
      height: 100vh;
    }
    h1 {
      width: 100%;
      position: absolute;
      left: 200px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--text-color-white);
      font-weight: 100;
      font-size: 2.8rem;
      line-height: 4rem;
      mix-blend-mode: difference;
      position: relative;
      @include media("<=1620px") {
        font-size: 2.6rem;
        line-height: 2.6rem;
      }
      @include media("<=1520px") {
        font-size: 2.4rem;
        line-height: 2.4rem;
        left: 180px;
      }
      @include media("<=1430px") {
        font-size: 2.2rem;
        line-height: 2.2rem;
        left: 150px;
      }
      @include media("<=1266px") {
        font-size: 2rem;
        line-height: 2rem;
        left: 140px;
      }
      @include media("<=1166px") {
        font-size: 1.8rem;
        line-height: 1.8rem;
        left: 130px;
      }
      @include media("<=966px") {
        top: 35%;
      }
      @include media("<=700px") {
        left: 100px;
      }
      @include media("<=phone") {
        display: none;
      }
      .line.bold {
        font-weight: 500;
      }
      .line {
        width: 100%;
        height: 4rem;
        margin-bottom: 6px;
        position: relative;
        overflow: hidden;
        @include media("<=1620px") {
          height: 3.4rem;
        }
        @include media("<=1520px") {
          height: 3.2rem;
        }
        @include media("<=1430px") {
          height: 3rem;
        }
        @include media("<=phone") {
          height: 35px;
          margin-bottom: 1.5px;
        }
        span {
          position: absolute;
        }
      }
    }

    h1.formobile {
      display: block;
      width: calc(100% - 60px);
      font-size: 25px;
      font-weight: 200;
      line-height: 40px;
      left: 30px;
      top: 130px;
      transform: translateY(0);
      color: var(--text-color-white);
      span {
        font-weight: 400;
      }
      @include media(">=phone") {
        display: none;
      }
    }
    img {
      height: 95%;
      position: absolute;
      right: -39px;
      top: 50%;
      transform: translate(0, -50%) scale(1);
      @include media("<=1620px") {
        height: 90%;
      }
      @include media("<=1520px") {
        height: 85%;
      }
      @include media("<=1430px") {
        height: 82%;
      }
      @include media("<=desktop") {
        height: 78%;
      }
      @include media("<=1266px") {
        height: 74%;
      }
      @include media("<=1166px") {
        height: 70%;
      }
      @include media("<=1066px") {
        height: 60%;
      }
      @include media("<=966px") {
        top: 75%;
        right: -3%;
      }
      @include media("<=phone") {
        height: 50%;
        top: 75%;
        right: -8%;
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== SERVICES PART =====================================
  &__services {
    width: 100%;
    height: 100vh;
    padding: 150px 250px;
    position: relative;
    @include media("<=1620px") {
      padding: 100px 230px;
    }
    @include media("<=1520px") {
      padding: 100px 200px;
    }
    @include media("<=desktop") {
      padding: 100px 180px;
    }
    @include media("<=1260px") {
      padding: 90px 145px;
      height: fit-content;
    }
    @include media("<=semiDesktop") {
      padding: 70px 130px;
    }
    @include media("<=phone") {
      padding: 30px;
    }
    h3 {
      color: var(--text-color-black);
      font-weight: 500;
      margin-bottom: 2rem;
      @include media("<=semiDesktop") {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
      }
      @include media("<=phone") {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 15px;
      }
    }

    .links {
      h1 {
        display: flex;
        align-items: flex-start;
        font-family: var(--babas-font);
        color: #0e042852;
        cursor: pointer;
        transition: 0.5s;
        @include media("<=semiDesktop") {
          margin-bottom: 20px;
        }
        @include media("<=900px") {
          width: 100%;
          flex-direction: column;
          margin-bottom: 0;
        }
        @include media("<=phone") {
          width: 100%;
          flex-direction: column;
          border: 1px solid transparent;
        }
        .headingnumber {
          width: 5%;
          height: 2.5rem;
          font-size: 20px;
          font-family: var(--poppins-font);
          font-weight: 300;
          color: var(--text-color-black);
          position: relative;
          overflow: hidden;
          span {
            top: 0;
            left: 0;
            position: absolute;
          }
          @include media("<=desktop") {
            font-size: 15px;
          }
          @include media("<=900px") {
            display: none;
          }
          @include media("<=phone") {
            display: none;
          }
        }
        .headingtext {
          width: 90%;
          height: 5rem;
          margin-bottom: 25px;
          letter-spacing: 3px;
          font-size: 5rem;
          line-height: 5rem;
          position: relative;
          overflow: hidden;
          @include media("<=1608px") {
            height: 4.6rem;
            margin-bottom: 20px;
            font-size: 4.6rem;
            line-height: 4.6rem;
            letter-spacing: 2.5px;
          }
          @include media("<=1508px") {
            height: 4.3rem;
            font-size: 4.3rem;
            line-height: 4.3rem;
          }
          @include media("<=desktop") {
            height: 4rem;
            margin-bottom: 20px;
            font-size: 4rem;
            line-height: 4rem;
            letter-spacing: 2.5px;
          }
          @include media("<=1260px") {
            height: 3.4rem;
            font-size: 3.4rem;
            line-height: 3.4rem;
            letter-spacing: 2px;
          }
          @include media("<=semiDesktop") {
            height: 3.1rem;
            margin-bottom: 10px;
            font-size: 3rem;
            line-height: 3.1rem;
            letter-spacing: 1.7px;
          }
          @include media("<=900px") {
            margin-bottom: 0.5rem;
            font-size: 3.5rem;
            line-height: 3.5rem;
            letter-spacing: 2.5px;
            color: var(--text-color-black);
          }
          @include media("<=820px") {
            font-size: 3rem;
            line-height: 3rem;
          }
          @include media("<=750px") {
            font-size: 2.8rem;
            line-height: 2.8rem;
          }
          @include media("<=670px") {
            font-size: 2.5rem;
            line-height: 2.5rem;
          }
          @include media("<=phone") {
            height: 5.4rem;
          }
          span {
            position: absolute;
          }
        }
      }
      h1.active {
        color: var(--text-color-black);
      }
      p {
        color: var(--text-color-black);
        margin-bottom: 1rem;
        margin-top: -15px;
        font-size: var(--mobile-paragraph-size);
        @include media(">=900px") {
          display: none;
        }
      }
      a {
        display: block;
        color: var(--pink-color);
        margin-top: -10px;
        margin-bottom: 2rem;
        font-size: var(--mobile-paragraph-size);
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;
        span {
          margin-left: 5px;
        }
        @include media(">=900px") {
          display: none;
        }
      }
    }
    .text {
      width: 24%;
      height: 20vh;
      padding: 20px;
      border-radius: 10px;
      background: #cccccc80;
      color: var(--text-color-black);
      position: absolute;
      right: 250px;
      top: 200px;
      box-shadow: 0 0 50px rgba(249, 249, 250, 0.09);
      display: flex;
      align-items: center;
      font-size: 16px;
      font-weight: 300;
      line-height: 24px;
      @include media("<=1550px") {
        right: 200px;
        font-size: 15px;
        line-height: 23px;
      }
      @include media("<=1470px") {
        right: 190px;
      }
      @include media("<=1430px") {
        right: 180px;
        font-size: 14px;
        line-height: 22px;
      }
      @include media("<=desktop") {
        right: 180px;
        top: 170px;
        font-size: 13.5px;
        line-height: 20px;
      }
      @include media("<=1260px") {
        width: 28%;
        height: 17vh;
        right: 120px;
        font-size: 12.5px;
        line-height: 18px;
      }
      @include media("<=semiDesktop") {
        width: 30%;
        height: 18vh;
        right: 120px;
        top: 100px;
        font-size: 12.5px;
        line-height: 18px;
      }
      @include media("<=900px") {
        display: none;
      }
    }

    a.global {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 150px;
      height: 150px;
      background: var(--pink-color);
      border-radius: 50%;
      text-decoration: none;
      color: var(--text-color-white);
      position: absolute;
      top: calc(20vh + 150px + 30px);
      right: 300px;
      font-weight: 400;
      text-transform: uppercase;
      @include media("<=1608px") {
        width: 140px;
        height: 140px;
        top: calc(20vh + 150px + 20px);
        font-size: 15px;
      }
      @include media("<=1508px") {
        width: 130px;
        height: 130px;
        top: calc(20vh + 140px + 20px);
        font-size: 15px;
      }
      @include media("<=1408px") {
        width: 125px;
        height: 125px;
        top: calc(20vh + 150px + 20px);
        font-size: 14px;
      }
      @include media("<=desktop") {
        width: 120px;
        height: 120px;
        top: calc(20vh + 130px + 20px);
        right: 220px;
        font-size: 13px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 1px;
      }
      @include media("<=1260px") {
        width: 100px;
        height: 100px;
        top: calc(20vh + 130px);
        right: 220px;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
      }
      @include media("<=semiDesktop") {
        width: 90px;
        height: 90px;
        top: calc(20vh + 50px);
        right: 220px;
        font-size: 11px;
        font-weight: 400;
        line-height: 20px;
      }
      @include media("<=900px") {
        display: none;
      }
      @include media("<=phone") {
        display: none;
      }
      &:hover {
        transform: scale(
          1.1
        ); // ⚠️ BAD-CODE: hover effect not working due to gsap-animation
      }
    }
  }

  // ////////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== CONTRIBUTION PART =====================================
  &__contribution {
    width: 100%;
    min-height: 100vh;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 100px;
    @include media("<=1620px") {
      padding-left: 230px;
      padding-right: 230px;
      padding-bottom: 100px;
    }
    @include media("<=1520px") {
      padding-left: 200px;
      padding-right: 200px;
      padding-bottom: 100px;
    }
    @include media("<=desktop") {
      padding-left: 180px;
      padding-right: 180px;
      padding-bottom: 60px;
    }
    @include media("<=1260px") {
      padding-left: 145px;
      padding-right: 145px;
      padding-bottom: 90px;
      padding-top: 50px;
    }
    @include media("<=semiDesktop") {
      padding-left: 130px;
      padding-right: 130px;
      padding-bottom: 70px;
    }
    @include media("<=phone") {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      padding-top: 30px;
    }

    h1 {
      width: 100%;
      font-size: 5rem;
      line-height: 6rem;
      font-family: var(--babas-font);
      letter-spacing: 3px;
      text-transform: uppercase;
      text-align: right;
      color: var(--text-color-black);
      @include media("<=1608px") {
        font-size: 4.6rem;
        line-height: 4.6rem;
      }
      @include media("<=1508px") {
        font-size: 4.3rem;
        line-height: 4.3rem;
      }
      @include media("<=desktop") {
        font-size: 4rem;
        line-height: 4rem;
      }
      @include media("<=1260px") {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
      @include media("<=semiDesktop") {
        font-size: 3.1rem;
        line-height: 3.1rem;
      }
      @include media("<=900px") {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
      @include media("<=700px") {
        font-size: 2.9rem;
        line-height: 2.9rem;
      }
      @include media("<=phone") {
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: 2.5px;
      }
      div {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
        @include media("<=1608px") {
          height: 4.6rem;
          margin-bottom: 5px;
        }
        @include media("<=1508px") {
          height: 4.3rem;
        }
        @include media("<=desktop") {
          height: 4rem;
          margin-bottom: 0.5rem;
        }
        @include media("<=1260px") {
          height: 3.4rem;
        }
        @include media("<=1000px") {
          height: 3.1rem;
        }
        @include media("<=900px") {
          height: 3.4rem;
        }
        @include media("<=phone") {
          height: 2.5rem;
          margin-bottom: 5px;
        }
        span {
          position: absolute;
          right: 0;
        }
      }
    }
    .contributions {
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .contribution {
        width: 30%;
        margin-bottom: 35px;
        @include media("<=900px") {
          width: 45%;
          margin-bottom: 35px;
        }
        @include media("<=phone") {
          width: 100%;
          margin-bottom: 35px;
        }
        .head {
          @include media("<=phone") {
            display: flex;
            align-items: center;
          }
          img {
            width: 2.8rem;
            @include media("<=1608px") {
              font-size: 2rem;
            }
            @include media("<=desktop") {
              width: 1.5rem;
            }
            @include media("<=phone") {
              width: 1.5rem;
              margin-right: 12px;
            }
          }
          h3 {
            font-size: 20px;
            @include media("<=1608px") {
              font-size: 18px;
            }
            @include media("<=desktop") {
              font-size: 17px;
            }
            @include media("<=phone") {
              font-size: 17px;
              margin-bottom: 5px;
            }
          }
        }
        p {
          font-size: 15.5px;
          text-align: justify;
          @include media("<=1608px") {
            font-size: 14px;
          }
          @include media("<=desktop") {
            font-size: 13px;
          }
          @include media("<=1008px") {
            font-size: 12px;
          }
          @include media("<=900px") {
            font-size: 13.5px;
          }
          @include media("<=phone") {
            font-size: var(--mobile-paragraph-size);
            text-align: left;
          }
        }
      }
    }
  }

  // /////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== WHY PART =====================================
  &__observance {
    width: 100%;
    min-height: 105vh;
    position: relative;
    background-color: var(--background-color-dark);
    @include media("<=phone") {
      width: 100%;
      min-height: 90vh;
    }
    .design {
      width: 60%;
      background: url("../../assets/pagehome/pattern.jpg") no-repeat center
        center / cover;
      height: 80vh;
      position: absolute;
      top: 0;
      left: 0;
      overflow: hidden;
      @include media("<=1600px") {
        width: 70%;
      }
      @include media("<=phone") {
        width: 100%;
        height: 30vh;
      }
    }

    .content {
      width: 50%;
      position: absolute;
      top: 100px;
      right: 300px;
      @include media("<=1620px") {
        right: 230px;
      }
      @include media("<=1520px") {
        right: 200px;
      }
      @include media("<=desktop") {
        right: 180px;
      }
      @include media("<=1260px") {
        right: 145px;
      }
      @include media("<=semiDesktop") {
        right: 130px;
      }
      @include media("<=phone") {
        width: 100%;
        right: 0;
        top: 10vh;
        padding: 0 30px;
      }
      h1 {
        width: 100%;
        text-align: right;
        letter-spacing: 3px;
        font-size: 5rem;
        line-height: 5rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        color: var(--text-color-white);
        @include media("<=1608px") {
          font-size: 4.6rem;
          line-height: 4.6rem;
        }
        @include media("<=1508px") {
          font-size: 4.3rem;
          line-height: 4.3rem;
        }
        @include media("<=desktop") {
          font-size: 4rem;
          line-height: 4rem;
        }
        @include media("<=1260px") {
          font-size: 3.4rem;
          line-height: 3.4rem;
        }
        @include media("<=semiDesktop") {
          font-size: 3.1rem;
          line-height: 3.1rem;
        }
        @include media("<=900px") {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @include media("<=700px") {
          font-size: 2.9rem;
          line-height: 2.9rem;
        }
        @include media("<=phone") {
          font-size: 2.5rem;
          line-height: 3rem;
          letter-spacing: 2.5px;
        }
        div {
          width: 100%;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=1608px") {
            height: 4.6rem;
            margin-bottom: 5px;
          }
          @include media("<=1508px") {
            height: 4.3rem;
          }
          @include media("<=desktop") {
            height: 4rem;
            margin-bottom: 0.5rem;
          }
          @include media("<=1260px") {
            height: 3.4rem;
          }
          @include media("<=1000px") {
            height: 3.1rem;
          }
          @include media("<=900px") {
            height: 3.4rem;
          }
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 5px;
          }
          span {
            position: absolute;
            right: 0;
          }
        }
      }

      .slider {
        width: 50%;
        min-height: 55vh;
        margin-top: 0;
        margin-left: auto;
        border-radius: 10px;
        @include media("<=1360px") {
          width: 55%;
          margin-top: 20px;
        }
        @include media("<=1260px") {
          width: 65%;
        }
        @include media("<=1160px") {
          width: 75%;
        }
        @include media("<=1060px") {
          width: 85%;
        }
        @include media("<=900px") {
          width: 90%;
        }
        @include media("<=phone") {
          width: 100%;
          margin-left: 0;
          min-height: 50vh;
        }
        .observe {
          width: 100%;
          height: 50vh;
          padding: 10px;
          .container {
            height: 49vh;
            background: #2d224c;
            padding: 30px;
            border-radius: 10px;
            h3 {
              margin-bottom: 20px;
              font-weight: 400;
              font-size: 22px;
              line-height: 25px;
              color: var(--text-color-white);
              @include media("<=desktop") {
                font-size: 17px;
                line-height: 20px;
              }
              @include media("<=1260px") {
                font-size: 20px;
                line-height: 25px;
              }
              @include media("<=phone") {
                font-size: 17px;
              }
            }
            p {
              font-size: 15px;
              line-height: 25px;
              color: var(--text-color-white);
              @include media("<=desktop") {
                font-size: 13.5px;
                line-height: 18px;
              }
              @include media("<=1260px") {
                font-size: 15px;
                line-height: 24px;
              }
              @include media("<=phone") {
                font-size: var(--mobile-paragraph-size);
              }
            }
          }
        }
        ul.slick-dots {
          display: flex !important;
          align-items: center !important;
          height: 50px;
          @include media("<=phone") {
            height: 10px;
          }
          li {
            height: 30px;
            width: 30px;
            @include media("<=desktop") {
              height: 20px;
              width: 20px;
            }
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .custom-dots {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 30px;
              width: 30px;
              @include media("<=desktop") {
                height: 20px;
                width: 20px;
              }
              @include media("<=phone") {
                height: 17px;
                width: 17px;
              }
              .box {
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background: transparent;
                border: 2px solid var(--text-color-white);
                transition: 0.9s;
              }
            }
          }
          li.slick-active {
            .custom-dots {
              height: 30px;
              width: 30px;
              @include media("<=desktop") {
                height: 20px;
                width: 20px;
              }
              @include media("<=phone") {
                height: 17px;
                width: 17px;
              }
              .box {
                height: 15px;
                width: 15px;
                background: var(--text-color-white);
                @include media("<=phone") {
                  height: 10px;
                  width: 10px;
                }
              }
            }
          }
        }
      }
      .slide-number {
        width: 30%;
        margin-left: auto;
        margin-top: -25px;
        text-align: right;
        color: var(--text-color-white);
        @include media("<=phone") {
          margin-top: 5px;
          font-size: var(--mobile-paragraph-size);
          margin-right: 10px;
        }
      }
    }
  }

  // ////////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== TESTOMONIALS PART =====================================
  &__testomonials {
    width: 100%;
    min-height: 100vh;
    padding: 120px 250px 70px 250px;
    position: relative;
    @include media("<=1620px") {
      padding: 120px 230px 60px 230px;
    }
    @include media("<=1520px") {
      padding: 110px 200px 50px 200px;
    }
    @include media("<=desktop") {
      padding: 100px 180px 0 180px;
    }
    @include media("<=1260px") {
      padding: 90px 145px 0 145px;
      min-height: 90vh;
    }
    @include media("<=semiDesktop") {
      padding: 80px 130px 0 130px;
      min-height: 85vh;
    }
    @include media("<=phone") {
      padding: 50px 0 0 0;
      min-height: 60vh;
      overflow: hidden;
    }

    h1 {
      text-align: right;
      font-size: 5rem;
      line-height: 6rem;
      font-family: var(--babas-font);
      letter-spacing: 3px;
      text-transform: uppercase;
      color: var(--text-color-black);
      @include media("<=1608px") {
        font-size: 4.6rem;
        line-height: 4.6rem;
      }
      @include media("<=1508px") {
        font-size: 4.3rem;
        line-height: 4.3rem;
      }
      @include media("<=desktop") {
        font-size: 4rem;
        line-height: 4rem;
      }
      @include media("<=1260px") {
        font-size: 3.4rem;
        line-height: 3.4rem;
      }
      @include media("<=semiDesktop") {
        font-size: 3.1rem;
        line-height: 3.1rem;
      }
      @include media("<=900px") {
        font-size: 3.5rem;
        line-height: 3.5rem;
      }
      @include media("<=700px") {
        font-size: 2.9rem;
        line-height: 2.9rem;
      }
      @include media("<=phone") {
        text-align: left;
        font-size: 2.5rem;
        line-height: 3rem;
        letter-spacing: 2.5px;
        margin-bottom: 15px;
        margin-right: 30px;
      }
      div {
        width: 100%;
        height: 5rem;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
        @include media("<=1608px") {
          height: 4.6rem;
          margin-bottom: 5px;
        }
        @include media("<=1508px") {
          height: 4.3rem;
        }
        @include media("<=desktop") {
          height: 4rem;
          margin-bottom: 0.5rem;
        }
        @include media("<=1260px") {
          height: 3.4rem;
        }
        @include media("<=1000px") {
          height: 3.1rem;
        }
        @include media("<=900px") {
          height: 3.4rem;
        }
        @include media("<=phone") {
          height: 2.5rem;
          margin-bottom: 5px;
        }
        span {
          position: absolute;
          right: 0;
        }
      }
    }

    img.quoto {
      position: absolute;
      top: 20px;
      left: 200px;
      @include media("<=1608px") {
        width: 45%;
        top: 30px;
        left: 170px;
      }
      @include media("<=1508px") {
        width: 40%;
        top: 50px;
        left: 150px;
      }
      @include media("<=1408px") {
        width: 35%;
        top: 60px;
      }
      @include media("<=1208px") {
        width: 40%;
        top: 70px;
      }
      @include media("<=1010px") {
        width: 30%;
        top: 80px;
      }
      @include media("<=950px") {
        width: 35%;
        top: 90px;
        left: 120px;
      }
      @include media("<=phone") {
        left: 30px;
        top: 120px;
        width: 50%;
      }
    }

    .slider {
      @include media("<=950px") {
        margin-top: 30px;
      }
      @include media("<=phone") {
        width: 100%;
      }
      .testomonial {
        width: 100%;
        min-height: 45vh;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        @include media("<=1586px") {
          min-height: 48vh;
        }
        @include media("<=950px") {
          min-height: 40vh;
        }
        .block {
          width: 80%;
          min-height: 40vh;
          padding: 60px 40px;
          border-radius: 10px;
          background: var(--background-color-light);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
          @include media("<=1586px") {
            min-height: 40vh;
            box-shadow: 0 0 17px rgba(0, 0, 0, 0.2);
          }
          @include media("<=1386px") {
            width: 90%;
          }
          @include media("<=desktop") {
            padding: 40px 25px;
            border-radius: 7px;
            box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
          }
          @include media("<=1200px") {
            min-height: 38vh;
          }
          @include media("<=870px") {
            width: 90%;
          }
          @include media("<=phone") {
            width: 95%;
            padding: 36px;
            min-height: 35vh;
          }

          .client {
            display: flex;
            align-items: center;
            .image {
              margin-right: 10px;
              img {
                width: 50px;
                @include media("<=1586px") {
                  width: 45px;
                }
                @include media("<=desktop") {
                  width: 40px;
                }
              }
            }
            .info {
              h3 {
                font-weight: 400;
                font-size: 16px;
                @include media("<=1586px") {
                  font-size: 15px;
                }
                @include media("<=desktop") {
                  font-size: 14px;
                }
              }
              p {
                font-size: 12px;
                @include media("<=1586px") {
                  font-size: 10px;
                }
                @include media("<=desktop") {
                  font-size: 8.5px;
                }
              }
            }
          }
          .text {
            margin-top: 30px;
            @include media("<=desktop") {
              margin-top: 25px;
            }
            @include media("<=phone") {
              margin-top: 20px;
            }
            h2 {
              font-size: 16px;
              margin-bottom: 10px;
              @include media("<=desktop") {
                font-size: 14px;
                margin-bottom: 5px;
              }
            }
            p {
              font-size: 14px;
              @include media("<=desktop") {
                font-size: 13px;
                line-height: 18px;
              }
              @include media("<=phone") {
                font-size: var(--mobile-paragraph-size);
              }
            }
          }
        }
      }
      ul.slick-dots {
        display: flex !important;
        align-items: center !important;
        justify-content: center;
        height: 50px;
        @include media("<=phone") {
          height: 10px;
        }
        li {
          height: 20px;
          width: 20px;
          @include media("<=desktop") {
            height: 20px;
            width: 20px;
          }
          @include media("<=phone") {
            height: 17px;
            width: 17px;
          }
          .custom-dots {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 20px;
            width: 20px;
            @include media("<=desktop") {
              height: 20px;
              width: 20px;
            }
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .box {
              width: 10px;
              height: 10px;
              border-radius: 50%;
              background: transparent;
              border: 2px solid var(--background-color-dark);
              transition: 0.9s;
            }
          }
        }
        li.slick-active {
          .custom-dots {
            height: 20px;
            width: 20px;
            @include media("<=desktop") {
              height: 20px;
              width: 20px;
            }
            @include media("<=phone") {
              height: 17px;
              width: 17px;
            }
            .box {
              height: 15px;
              width: 15px;
              background: var(--background-color-dark);
              @include media("<=phone") {
                height: 10px;
                width: 10px;
              }
            }
          }
        }
      }
    }
  }

  // ////////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== PARTENRS PART =====================================
  h2.client__head {
    text-align: center;
    font-size: 20px;
    font-weight: normal;
    margin-top: 2rem;
    text-transform: uppercase;
    @include media("<=phone") {
      font-size: 16px;
    }
  }
  &__clients {
    width: 100%;
    padding: 0 250px 50px 250px;
    display: flex;
    justify-content: space-between;
    @include media("<=1620px") {
      padding: 0 230px 50px 230px;
    }
    @include media("<=1520px") {
      padding: 0 200px 45px 200px;
    }
    @include media("<=desktop") {
      padding: 0 180px 40px 180px;
      height: fit-content;
    }
    @include media("<=1260px") {
      padding: 0 145px 35px 145px;
    }
    @include media("<=semiDesktop") {
      padding: 0 130px 30px 130px;
    }
    @include media("<=phone") {
      padding: 10px 30px 10px 30px;
    }
    img {
      width: 100px;
      @include media("<=1620px") {
        width: 95px;
      }
      @include media("<=1520px") {
        width: 90px;
      }
      @include media("<=desktop") {
        width: 85px;
      }
      @include media("<=1260px") {
        width: 80px;
      }
      @include media("<=semiDesktop") {
        width: 75px;
      }
      @include media("<=phone") {
        width: 30px;
      }
    }
  }

  // ////////////////////////////////////////////////////////////////////////////////////////////
  // ===================================== PROJECTS PART =====================================
  &__projects {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    @include media("<=1260px") {
      min-height: 90vh;
    }
    @include media("<=1060px") {
      min-height: 84vh;
    }
    @include media("<=960px") {
      min-height: 100vh;
    }
    @include media("<=phone") {
      min-height: 65vh;
      margin-top: 2rem;
    }
    .head {
      width: 35%;
      padding-left: 250px;
      padding-top: 120px;
      @include media("<=1620px") {
        padding-left: 230px;
        padding-top: 100px;
      }
      @include media("<=1520px") {
        padding-left: 200px;
      }
      @include media("<=desktop") {
        padding-left: 180px;
      }
      @include media("<=semiDesktop") {
        padding-left: 130px;
        padding-top: 150px;
      }
      @include media("<=960px") {
        width: 80%;
        padding-top: 70px;
      }
      @include media("<=phone") {
        width: 100%;
        padding-left: 30px;
        padding-top: 20px;
        padding-right: 30px;
      }
      h1 {
        width: 100%;
        letter-spacing: 3px;
        font-size: 5rem;
        line-height: 5rem;
        font-family: var(--babas-font);
        text-transform: uppercase;
        color: var(--text-color-black);
        @include media("<=1608px") {
          font-size: 4.6rem;
          line-height: 4.6rem;
        }
        @include media("<=1508px") {
          font-size: 4.3rem;
          line-height: 4.3rem;
        }
        @include media("<=desktop") {
          font-size: 4rem;
          line-height: 4rem;
        }
        @include media("<=1260px") {
          font-size: 3.4rem;
          line-height: 3.4rem;
        }
        @include media("<=semiDesktop") {
          font-size: 3.1rem;
          line-height: 3.1rem;
        }
        @include media("<=900px") {
          font-size: 3.5rem;
          line-height: 3.5rem;
        }
        @include media("<=700px") {
          font-size: 2.9rem;
          line-height: 2.9rem;
        }
        @include media("<=phone") {
          text-align: left;
          font-size: 2.5rem;
          line-height: 3rem;
          letter-spacing: 2.5px;
          margin-bottom: 15px;
          margin-right: 30px;
        }
        div {
          width: 100%;
          height: 5rem;
          margin-bottom: 1rem;
          overflow: hidden;
          position: relative;
          @include media("<=1608px") {
            height: 4.6rem;
            margin-bottom: 5px;
          }
          @include media("<=1508px") {
            height: 4.3rem;
          }
          @include media("<=desktop") {
            height: 4rem;
            margin-bottom: 0.5rem;
          }
          @include media("<=1260px") {
            height: 3.4rem;
          }
          @include media("<=1000px") {
            height: 3.1rem;
          }
          @include media("<=900px") {
            height: 3.4rem;
          }
          @include media("<=phone") {
            height: 2.5rem;
            margin-bottom: 5px;
          }
          span {
            position: absolute;
          }
        }
      }
      p {
        @include media("<=desktop") {
          font-size: 14px;
        }
        @include media("<=phone") {
          width: 95%;
          font-size: var(--mobile-paragraph-size);
          line-height: 20px;
        }
      }
      .globalMoreButton {
        margin-top: 30px;
        @include media("<=phone") {
          margin-top: 15px;
        }
      }
    }
    .content {
      width: 65%;
      padding-top: 120px;
      overflow: hidden;
      @include media("<=semiDesktop") {
        padding-top: 150px;
      }
      @include media("<=960px") {
        padding-top: 50px;
        padding-bottom: 120px;
        width: 100%;
      }

      @include media("<=phone") {
        width: 100%;
        padding-top: 30px;
        padding-bottom: 30px;
      }
      .slider {
        width: calc(100% + 100px);
        min-height: 60vh;
        margin-left: 120px;
        @include media("<=1260px") {
          min-height: 47vh;
        }
        @include media("<=1160px") {
          min-height: 44vh;
        }
        @include media("<=1060px") {
          min-height: 40vh;
        }
        @include media("<=960px") {
          min-height: 50vh;
        }
        @include media("<=phone") {
          margin-left: 0;
          min-height: 40vh;
          padding: 0 30px;
        }
        .work {
          width: 100%;
          height: 60vh;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          @include media("<=1260px") {
            height: 47vh;
          }
          @include media("<=1160px") {
            height: 44vh;
          }
          @include media("<=960px") {
            height: 47vh;
          }
          @include media("<=phone") {
            height: 40vh;
          }
          .container {
            width: 90%;
            height: 55vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background: rgb(238, 238, 238);
            background: linear-gradient(
              198deg,
              rgba(238, 238, 238, 1) 28%,
              rgba(204, 204, 204, 1) 68%,
              rgba(206, 206, 206, 1) 83%
            );
            border-radius: 10px;
            @include media("<=1260px") {
              height: 47vh;
            }
            @include media("<=1160px") {
              height: 44vh;
            }
            @include media("<=1060px") {
              height: 40vh;
            }
            @include media("<=960px") {
              height: 47vh;
            }
            @include media("<=phone") {
              height: 35vh;
            }
          }
        }
      }
      .slider-btn-box {
        margin-top: 32px;
        margin-left: 120px;
        display: flex;
        @include media("<=1260px") {
          margin-top: 55px;
        }
        @include media("<=1160px") {
          margin-top: 55px;
        }
        @include media("<=phone") {
          margin-left: 30px;
          margin-top: 0;
        }
        button {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          border: none;
          outline: none;
          margin-right: 20px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 30px;
            transform: rotate(90deg);
            @include media("<=desktop") {
              width: 25px;
            }
            @include media("<=phone") {
              width: 15px;
            }
          }
          @include media("<=desktop") {
            margin-top: -40px;
            height: 50px;
            width: 50px;
          }
          @include media("<=phone") {
            margin-top: -20px;
            height: 40px;
            width: 40px;
          }
        }
      }
    }
  }
}
