.works {
  width: 100%;
  min-height: 100vh;

  .globalbanner {
    .text {
      top: 250px;
      @include media("<=phone") {
        top: 300px;
      }
    }
  }

  &__caseStudies {
    width: 100%;
    min-height: 100vh;
    padding: 100px 250px 0 250px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include media("<=1620px") {
      padding: 100px 230px;
    }
    @include media("<=1520px") {
      padding: 100px 200px;
    }
    @include media("<=desktop") {
      padding: 100px 180px;
    }
    @include media("<=1260px") {
      padding: 90px 145px;
    }
    @include media("<=semiDesktop") {
      padding: 70px 130px;
    }
    @include media("<=phone") {
      padding: 30px;
    }

    .case-study {
      text-decoration: none;
      display: block;
      width: 40%;
      min-height: 70vh;
      background-color: #fff;
      margin-bottom: 20vh;
      position: relative;
      transition: 0.4s;
      border: 2px solid #ccc;
      @include media("<=1460px") {
        min-height: 65vh;
        margin-bottom: 10vh;
      }
      @include media("<=1360px") {
        min-height: 60vh;
      }
      @include media("<=1260px") {
        min-height: 57vh;
      }
      @include media("<=1160px") {
        min-height: 50vh;
      }
      @include media("<=semiDesktop") {
        min-height: 48vh;
      }
      @include media("<=900px") {
        width: 80%;
        min-height: 70vh;
        margin-bottom: 10vh;
      }
      @include media("<=phone") {
        width: 80%;
        min-height: 50vh;
        margin-bottom: 10vh;
      }
      img{
        width: 100%;
        height: 100%;
      }
      .info {
        width: 100%;
        position: absolute;
        top: 3rem;
        left: 0;
        z-index: 10;
        @include media("<=1460px") {
          top: 3rem;
        }
        @include media("<=1360px") {
          top: 2rem;
        }
        @include media("<=1260px") {
          top: 1.5rem;
        }
        @include media("<=1160px") {
          top: 1.3rem;
        }
        @include media("<=semiDesktop") {
          top: 1.2rem;
        }
        @include media("<=900px") {
          top: 1rem;
        }
        h2 {
          font-family: var(--babas-font);
          color: var(--text-color-white);
          font-size: 2.5rem;
          line-height: 2.5rem;
          letter-spacing: 1.2px;
          text-align: center;
          @include media("<=phone") {
            font-size: 2rem;
            line-height: 2rem;
          }
        }
        p {
          color: var(--text-color-black);
          text-align: right;
          display: none;
        }
      }

      .button {
        text-decoration: none;
        color: var(--text-color-white);
        background-color: var(--pink-color);
        width: 120px;
        height: 120px;
        border-radius: 50%;
        font-weight: 500;
        position: absolute;
        right: -60px;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        transform: scale(0);
        z-index: 10;
        @include media("<=1620px") {
          bottom: 90px;
          font-size: 14px;
        }
        @include media("<=1520px") {
          width: 110px;
          height: 110px;
          bottom: 80px;
          font-size: 14px;
        }
        @include media("<=desktop") {
          width: 100px;
          height: 100px;
          bottom: 70px;
          font-size: 13px;
        }
        @include media("<=1260px") {
          bottom: 60px;
        }
        @include media("<=900px") {
          bottom: 120px;
        }
      }

      &:hover .button {
        transform: scale(1);
        @include media("<=phone") {
          transform: scale(0);
        }
      }

      .cardoverlay {
        width: 100%;
        height: 70vh;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #ccc;
        @include media("<=1460px") {
          height: 65vh;
        }
        @include media("<=1360px") {
          height: 60vh;
        }
        @include media("<=1260px") {
          height: 57vh;
        }
        @include media("<=1160px") {
          height: 50vh;
        }
        @include media("<=semiDesktop") {
          height: 48vh;
        }
        @include media("<=900px") {
          height: 70vh;
        }
        @include media("<=phone") {
          height: 50vh;
        }
      }
    }
  }
}
