.indcaseStudy {
  min-height: 100vh;
  width: 100%;

  .loading {
    display: flex;
    text-align: center;
    justify-content: center;
    img {
      width: 60px;
      margin-right: 10px;
    }
    h3 {
      display: inline-block;
      font-weight: 200;
      letter-spacing: 4px;
    }
  }
}
