:root {
    // COLORS
    --background-color-dark: #0E0428;
    --background-color-light: #F2F2F2;
    
    --text-color-black: #14142B;
    --text-color-ash: #4E4B66;
    --text-color-white: #FCFCFC;
    --pink-color: #E00FF0;
    --pink-color-light: #E00FF090;
    --blue-color: #26BAF6;
    
    // FOTNS
    --poppins-font: 'Poppins', sans-serif;
    --anton-font: 'Anton', sans-serif;
    --babas-font: 'Bebas Neue', cursive;

    // FONT SIZE
    --mobile-paragraph-size: 13.5px;
}