.accrodion-root {
  .MuiPaper-root {
    background: transparent;
    color: var(--text-color-white);
    border: none;
    svg{ 
      color: #fff; transform: scale(1.2);
      @include media("<=phone") {
        transform: scale(0.8);
      }
    }
  }
  .MuiPaper-elevation1 {
    box-shadow: none;
  }
  .accordion-heading {
    background: transparent;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    @include media("<=phone") {
          font-size: 14px;
          line-height: 18px;
          margin-left: 25px;
        }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: -30px;
      height: 2px;
      width: 20px;
      background: var(--blue-color);
      @include media("<=phone") {
        width: 10px;
      }
    }
  }
}
