.navigationbtn{
  position: fixed;
  top: 6vh;
  right: 10vh;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 20px #cccccc !important;
  z-index: 50;
  cursor: pointer;
  @include media("<=phone") {
    width: 32px;
    height: 32px;
    top: 5vh;
    right: 5vh;
    box-shadow: 0 0 20px #cccccc !important;
  }

  .line{
    width: 30px;
    height: 3px;
    background: var(--background-color-dark);
    margin: 2px 0;
    @include media("<=phone") {
      width: 15px;
      height: 1.5px;
      margin: 1px 0;
    }
  }
}

.navigationoverlay1{
  position: fixed;
  top: calc(6vh + 5px);
  right: calc(10vh + 5px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--background-color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 30;
  @include media("<=phone") {
    width: 25px;
    height: 25px;
    top: calc(5vh + 5px);
    right: calc(5vh + 5px);
  }
}
.navigationoverlay2{
  position: fixed;
  top: calc(6vh + 5px);
  right: calc(10vh + 5px);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--pink-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 25;
  @include media("<=phone") {
    width: 25px;
    height: 25px;
    top: calc(5vh + 5px);
    right: calc(5vh + 5px);
  }
}

.navigation{
  display: block;
  position: relative;
  width: 20px;
  height: 20px;
  position: fixed;
  top: calc(6vh + 20px);
  right: calc(10vh + 20px);
  background: var(--background-color-dark);
  z-index: 40;
  @include media("<=phone") {
    width: 10px;
    height: 10px;
    top: calc(5vh + 5px);
    right: calc(5vh + 5px);
  }

  .brand{
    height: 5vh;
    margin-bottom: 100px;
    img{ height: 100%; opacity: 0; }
  }

  .menu{
    width: 100%;
    min-height: 50vh;
    padding: 0 100px 0 250px;
    display: none;
    @include media("<=phone") {
      padding: 0 30px 0 30px;
      min-height: 70vh;
    }

    &__links{
      width: 50%;
      @include media("<=phone") {width: 100%;}
      a{
        display: block;
        text-decoration: none;
        color: var(--text-color-white);
        font-size: 5rem;
        line-height: 5.5rem;
        letter-spacing: 4px;
        font-family: var(--babas-font);
        transform: translate(0, -50);
        opacity: 0;
        @include media("<=phone") {
          font-size: 2.5rem;
          line-height: 3rem;
        }
      }
    }

    &__contact{
      width: 50%;
      position: relative;
      @include media("<=phone") { width: 100%; }
      .content{
        position: absolute;
        bottom: 0;
        right: 0;

        .contact{
          margin-bottom: 25px;
          p {
            width: fit-content;
            color: var(--pink-color);
            font-size: 15px;
            line-height: 30px;
            border-bottom: 1px solid var(--pink-color);
            transform: translate(0, -10);
            opacity: 0;
            @include media("<=phone") { 
              font-size: 13px;
              line-height: 22px;
            }
          }
        }
        .address{
          p {
            color: var(--text-color-white);
            font-size: 16px;
            line-height: 30px;
            font-weight: 400;
            letter-spacing: 1px;
            transform: translate(0, -10);
            opacity: 0;
            @include media("<=phone") { 
              font-size: 13px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}