.apptemp__slides {
  padding-bottom: 5rem;
  @include media("<=phone") {
    padding-bottom: 1rem;
  }
  .slider {
    width: 100%;
    padding: 2rem;
    min-height: fit-content;
    @include media("<=1360px") {
      height: fit-content;
      padding: 0;
    }
    .slide {
      outline: none;
      border: none;
      text-align: center !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      @include media("<=phone") {
        height: fit-content;
      }
      img {
        width: 60%;
        @include media("<=phone") {
          width: 80%;
        }
      }
    }

    ul.slick-dots {
      width: 100%;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      height: 50px;
      @include media("<=phone") {
        height: 10px;
      }
      li {
        height: 30px;
        width: 30px;
        @include media("<=desktop") {
          height: 20px;
          width: 20px;
        }
        @include media("<=phone") {
          height: 17px;
          width: 17px;
        }
        .custom-dots {
          display: flex !important;
          align-items: center !important;
          justify-content: center !important;
          height: 30px;
          width: 30px;
          @include media("<=desktop") {
            height: 20px;
            width: 20px;
          }
          @include media("<=phone") {
            height: 17px;
            width: 17px;
          }
          .box {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: transparent;
            border: 2px solid var(--text-color-black);
            transition: 0.9s;
          }
        }
      }
      li.slick-active {
        .custom-dots {
          height: 30px;
          width: 30px;
          @include media("<=desktop") {
            height: 20px;
            width: 20px;
          }
          @include media("<=phone") {
            height: 17px;
            width: 17px;
          }
          .box {
            height: 15px;
            width: 15px;
            background: var(--text-color-black);
            @include media("<=phone") {
              height: 10px;
              width: 10px;
            }
          }
        }
      }
    }
  }
}
