.appBanner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  @include media("<=phone") {
    min-height: 100vh;
  }

  &__imageblock {
    width: 55%;
    height: 110vh;
    display: flex;
    position: relative;
    @include media("<=phone") {
      width: 100%;
      height: 40vh;
    }
    .image {
      height: 65vh;
      position: absolute;
      top: 15%;
      left: 20%;
      @include media("<=phone") {
        margin: auto;
        height: 35vh;
        top: 5%;
      }
      img {
        height: 100%;
      }
    }
    .circle1 {
      width: 450px;
      height: 450px;
      border-radius: 50%;
      position: absolute;
      top: 25%;
      left: 50%;
      transform: translateX(-50%);
      @include media("<=phone") {
        display: none;
      }
    }
    .circle2 {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      position: absolute;
      bottom: 50px;
      right: 150px;
      @include media("<=phone") {
        display: none;
      }
    }
    .circle3 {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: absolute;
      top: 100px;
      left: -30px;
      @include media("<=phone") {
        top: -30px;
        left: 30px;
      }
    }
  }
  &__contentblock {
    width: 45%;
    padding: 150px 100px 250px 150px;
    position: relative;
    @include media("<=phone") {
      width: 100%;
      padding: 60px 30px;
      height: 65vh;
    }
    .content {
      position: absolute;
      top: 150px;
      left: 150px;
      @include media("<=phone") {
        top: 60px;
        left: 30px;
      }
      h1 {
        font-family: var(--babas-font);
        font-size: 4rem;
        line-height: 4rem;
        letter-spacing: 2px;
        color: var(--text-color-black);
        @include media("<=phone") {
          font-size: 2.2rem;
          line-height: 2.2rem;
          letter-spacing: 1px;
        }
      }
      h3 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: gray;
        margin-bottom: 15px;
        @include media("<=phone") {
          margin-bottom: 8px;
          font-size: 12px;
        }
      }
      p {
        font-size: 17px;
        line-height: 30px;
        color: var(--text-color-black);
        text-transform: uppercase;
        @include media("<=phone") {
          font-size: 13.5px;
          line-height: 25px;
        }
      }
      .service,
      .roles {
        margin-top: 70px;
        @include media("<=phone") {
          margin-top: 30px;
        }
      }
    }
    .circle {
      width: 120px;
      height: 120px;
      border-radius: 550%;
      position: absolute;
      top: 65px;
      left: 100px;
      @include media("<=phone") {
        display: none;
      }
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// ==================================== APP VIEW =====================================
.appview1 {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  @include media("<=phone") {
    height: 40vh;
  }

  &__overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }

  .appview1__image {
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include media("<=phone") {
      height: 35vh;
    }
    img {
      height: 100%;
    }
  }
  .appview2__image {
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    @include media("<=phone") {
      height: 40vh;
    }
    img {
      height: 100%;
    }
  }

  .circle1 {
    width: 260px;
    height: 260px;
    border-radius: 50%;
    position: absolute;
    right: 280px;
    bottom: 50px;
    @include media("<=phone") {
      display: none;
    }
  }
  .circle2 {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    left: 15%;
    top: 35%;
    @include media("<=phone") {
      width: 60px;
      height: 60px;
      top: -30px;
      left: 30px;
    }
  }
  .circle3 {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    position: absolute;
    left: 60%;
    top: 50px;
    @include media("<=phone") {
      width: 45px;
      height: 45px;
      left: 80%;
      top: 80%;
    }
  }
}

////////////////////////////////////////////////////////////////////////////////////////
// ===================================== SOLUTION ======================================
.appsolution {
  width: 100%;
  min-height: 100vh;
  padding: 150px 250px 100px 250px;
  display: flex;
  flex-wrap: wrap;
  @include media("<=phone") {
    padding: 60px 30px;
  }
  .solutions {
    width: 55%;
    @include media("<=phone") {
      width: 100%;
      margin-bottom: 60px;
    }
    .text {
      h3 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: gray;
        margin-bottom: 15px;
        @include media("<=phone") {
          font-size: 12px;
          margin-bottom: 8px;
        }
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 15px;
        @include media("<=phone") {
          font-size: 1.25rem;
          margin-bottom: 8px;
        }
      }
      p {
        text-align: justify;
        font-size: 17px;
        line-height: 30px;
        @include media("<=phone") {
          font-size: 13.5px;
          line-height: 22px;
        }
      }
    }
  }
  .features {
    width: 45%;
    padding-left: 150px;
    padding-top: 100px;
    @include media("<=phone") {
      width: 100%;
      padding-top: 0;
      padding-left: 10px;
      margin-top: -20px;
    }

    .feature {
      margin-bottom: 25px;
      display: flex;
      @include media("<=phone") {
        margin-bottom: 15px;
      }

      .circle1 {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        @include media("<=phone") {
          height: 15px;
          width: 15px;
        }
        .circle2 {
          width: 20px;
          height: 20px;
          border-radius: 50%;
          @include media("<=phone") {
            height: 8px;
            width: 8px;
          }
        }
      }
      .text {
        font-size: 13.5px;
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////////
// ===================================== ACHIEVEMENTS ======================================
.appachievement {
  width: 100%;
  padding: 0 250px 150px 250px;
  display: flex;
  flex-wrap: wrap;
  @include media("<=phone") {
    padding: 0 30px;
  }

  .imageblock {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    @include media("<=phone") {
      width: 100%;
      justify-content: center;
    }
    .image {
      height: 65vh;
      position: relative;
      overflow: hidden;
      @include media("<=phone") {
        height: 45vh;
      }
      img {
        height: 100%;
        opacity: 1;
      }
    }
  }
  .textblock {
    width: 45%;
    margin-top: 40px;
    @include media("<=phone") {
      width: 100%;
      margin-bottom: 60px;
    }
    .text {
      h3 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        color: gray;
        margin-bottom: 15px;
        text-align: right;
        @include media("<=phone") {
          font-size: 12px;
          margin-bottom: 8px;
        }
      }
      h1 {
        font-size: 2.5rem;
        font-weight: 400;
        margin-bottom: 15px;
        text-align: right;
        @include media("<=phone") {
          font-size: 1.25rem;
          margin-bottom: 8px;
        }
      }
      p {
        text-align: right;
        font-size: 17px;
        line-height: 30px;
        @include media("<=phone") {
          font-size: 13.5px;
          line-height: 22px;
          text-align: justify;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////
// ================================== MORE WORKS ===============================
.more {
  padding-top: 150px;
  @include media("<=phone") {
    padding-top: 60px;
  }
}
