// FONTS
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");

// SCSS FOR VARIABLE AND BREAKPOINT
@import "./variable.scss";
@import "./breakpoints.scss";

// SCSS FOR PAGES
@import "./pages/Home.scss";
@import "./pages/Blog.scss";
@import "./pages/Contact.scss";
@import "./pages/About.scss";
@import "./pages/CaseStudies.scss";
@import "./pages/Services.scss";
@import "./pages/Industries.scss";

// SCSS FOR COMPONENTS
@import "./components/Navbar.scss";
@import "./components/Footer.scss";
@import "./components/Accrodion.scss";

// FOR ALL COMPONENTS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// SETUP WEBSITE BACKGROUND COLOR
body,
html {
  background: var(--primary-color);
  color: var(--text-color-white);
  font-family: var(--primary-font);
}

// COMMON HEADING
.common-heading {
  text-align: center;
  margin-bottom: 72px;
  @include media("<=phone") {
    margin-bottom: 36px;
  }

  h2 {
    display: inline-block;
    position: relative;
    color: var(--blue-color);
    @include media("<=phone") {
      font-size: 17px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -120px;
      transform: translateY(-50%);
      height: 3px;
      width: 103px;
      background: var(--blue-color);
      @include media("<=phone") {
        width: 40px;
        height: 1.5px;
        left: -45px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -120px;
      transform: translateY(-50%);
      height: 3px;
      width: 103px;
      background: var(--blue-color);
      @include media("<=phone") {
        width: 40px;
        height: 1.5px;
        right: -45px;
      }
    }
  }
  p {
    margin-top: 10px;
    @include media("<=phone") {
      font-size: 14px;
    }
  }
}
