// FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// SCSS FOR VARIABLE AND BREAKPOINT
@import "./variable.scss";
@import "./breakpoints.scss";
@import "./globalDesign.scss";

// SCSS FOR PAGES
@import "./pages/Home.scss";
@import "./pages/About.scss";
@import "./pages/Service.scss";
@import "./pages/Services.scss";
@import "./pages/NotFound.scss";
@import "./pages/Contact.scss";

// SCSS FOR COMPONENTS
@import "./components/Navbar.scss";
@import "./components/Footer.scss";
@import "./components/Overlay.scss";

// FOR ALL COMPONENTS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// SETUP WEBSITE BACKGROUND COLOR
body,
html {
  background: var(--background-color-light);
  font-family: var(--poppins-font);
  font-weight: 300;
}
